///////////////////////////////////////////////////////////////////////// 마이페이지 LNB
.lnb {
    width:220px;
    display:inline-block;
    h3 {
        position: relative;
        font-size:26px;
        font-weight:bold;
        color:#b14248;
        margin-bottom: 20px;
        padding-bottom: 20px;
        border-bottom: 5px solid;
        border-image: linear-gradient(to right, #b14248 0%, #bd6d33 100%);
        border-image-slice: 1;
        &::after {
            content:'';
            position: absolute;
            top: 15px;
            right: 0;
            width: 10px;
            border-radius: 50%;
            height: 10px;
            background: #bd6d33;
        }
    }
    .lnb-menu {
        > li {
            width:100%;
            border-bottom:1px solid #eaebec;
            > a {
                font-size:15px;
                color:#000;
                display:block;
                padding:20px 0;
                &.active {
                    color:#b14248;
                }
            }
            .lnb-depth03 {
                display:none;
                padding:10px;
                li {
                    margin-bottom:15px;
                    a {
                        display:block;
                        position:relative;
                        padding:0 25px;
                        font-size:13px;
                        color:#666666;
                        &.active, &:hover {
                            color:#b14248;
                        }
                    }
                }
            }
            &.active {
                > a {
                    color:#b14248;
                    font-weight:bold;
                    border:none;background:url("../images/lnb_plus.png") no-repeat right center;
                }
            }
        }
    }
}


///////////////////////////////////////////////////////////////////////// 마이페이지 탭
input[type="radio"] {display:none;}
.tabs {
    display:flex;
    overflow:hidden;
    .tab {
        width:25%;
        padding: 20px;
        display:inline-block;
        font-size:16px;
        color:#666666;
        text-align:center;
        border:1px solid #eaebec;
        cursor: pointer;
        span {
            font-size:20px;
            font-weight:bold;
            color:#b94a38;
            margin-left:10px;
        }
    }
}

.panel{display:none;padding-top:20px;animation: fadein .8s;}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
      opacity:1;
  }
}
#one:checked ~ .panels #one-panel,
#two:checked ~ .panels #two-panel,
#three:checked ~ .panels #three-panel,
#four:checked ~ .panels #four-panel {display:block}
#one:checked ~ .tabs #one-tab,
#two:checked ~ .tabs #two-tab,
#three:checked ~ .tabs #three-tab,
#four:checked ~ .tabs #four-tab {background:#b94a38;color:#fff;border:1px solid #b94a38;}
#one:checked ~ .tabs #one-tab span,
#two:checked ~ .tabs #two-tab span,
#three:checked ~ .tabs #three-tab span,
#four:checked ~ .tabs #four-tab span {color:#fff;}

///////////////////////////////////////////////////////////////////////// 마이페이지 레이아웃
.mypage {
    width: calc(100% - 290px);
    margin-left: 70px;
    .mypage_title {
        margin-bottom: 50px;
        padding-bottom: 20px;
        border-bottom: 5px solid #eaeaea;
        > h3 {
            display:inline-block;
            font-size:26px;
            font-weight:bold;
        }
        .mypage_title_date {
            margin-top:10px;
            float:right;
            span {
                font-size:12px;
                color:#999999;
                margin-right:5px;
            }
        }
    }
}

///////////////////////////////////////////////////////////////////////// 대쉬보드
.dashboard_title {
    padding-bottom:20px;
    border-bottom:1px solid #ddd;
    .dashboard_left {
        display: inline-block;
        strong {
            font-size:24px;
            font-weight:normal;
            color:#333333;
        }
        span {
            font-size:18px;
            color:#333333;
            margin-left:10px;
        }
    }
    .dashboard_right {
        float:right;
        margin-top:10px;
    }
}

///////////////////////////////////////////////////////////////////////// 마이페이지 - 타이틀
.my_lesson_title {
    margin-top:50px;
    h3 {
        display:inline-block;
        font-size:24px;
        font-weight:bold;
        color:#333333;
        margin-bottom:20px;
    }
    h2 {
        display:inline-block;
        font-size:32px;
        font-weight:bold;
        color:#222222;
        margin-bottom:20px;
    }
    .see_all {
        margin-top:10px;
        float:right;
        a {
            font-size:14px;
            color:#777777;
        }
    }
}

.lesson_box_two {
    display:flex;
    .my_lesson_box {
        width:100%;
        box-sizing: border-box;
        &:first-child {
            margin-right:20px;
        }
    }
}

///////////////////////////////////////////////////////////////////////// KETA_MY_008.html
 .mypage{
     .mypage_date{
        display: flex;
        justify-content: space-between;
         .date_box_left{
            display: flex;
            margin-bottom: 15px;
            img{
                margin-right: 10px;
            }
            h2{
                margin-top: 5px;
                font-size: 20px;
            }
         }
         .date_box_right{
             button{
                 &:nth-child(2){
                     margin-left: -4px;
                 }
             }
         }
     }
    .orange{
        background: #d99e2d;
    }
    .green{
        background: #208b73;
    }
    .mypage_contents{
         .tutor_container{
             margin-bottom: 40px;
             &.timetable{
                 table{
                     tbody{
                         tr{
                             td{
                                 div{
                                    padding: 0;
                                    margin: 0;
                                    height: 28px;
                                    color: #fff;
                                    border: 1px solid #eaeaea;
                                    font-size: 15.46px;
                                    border-radius: 0;
                                    text-align: center;
                                 }
                             }
                         }
                     }
                 }
             }
         }
     }
    .mypage_bottom_contents{
        display: flex;
        padding: 25px 15px;
        border-top: 1px solid #999999;
        border-bottom: 1px solid #999999;
        .mypage_contents_left{
            display: flex;
            img{
                margin-right: 15px;
                width: 50px;
                height: 50px;
            }
            p{
                width: 100%;
                font-weight: 700;
            }
        }
        .mypage_contents_right{
            display: flex;
            justify-content: space-around;
            width: 75%;
            .contents_description{
                h2{
                    margin-bottom: 3px;
                    color: #999999;
                    font-weight: 400;
                }
                h3{
                    font-weight: 700;
                }
            }
        }
    }
 }

// mypage_date
.mypage_date {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    .date_box_left {
        display: flex;

        img {
            &:nth-child(2) {
                margin-right: 10px;
            }
        }

        h2 {
            margin-top: 5px;
            font-size: 20px;
        }
    }
}
.class_schedule_box {
    border-top: 5px solid black;
    border-bottom: 1px solid black;
    table {
        width: 100%;
        border-collapse: collapse;
        thead {
            padding: 10px;
            
            th {
                padding: 10px;
                text-align: center;
                border:1px solid #ddd;
            }
        }
    }
    tbody {
        tr {
            td{
                padding: 10px;
                text-align: center;
                border:1px solid #ddd;
                
            }
            &:nth-child(1){
                td{
                    
                }
            }
        }
    }
}