#teacher_search {
    background:#f8f8f8;
}   
.teacher_wrap {
    width: 1280px;
    margin: 0 auto;
    overflow:hidden;
    padding:2rem 0;
}


.tutor_title{
    display: flex;
    width:1280px;
    justify-content: space-between;
    padding: 25px 0;
    margin:0 auto;
    font-size: 24px;
    font-weight: 700;
    .title_left{
        display: flex;
        div{
            margin-right: 25px;
            p{
                width: 540px;
                font-size: 24px;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
        }
        img{
            margin-top: 13px;  
            padding-right: 5px;
            width: 12px;
            height: 14px;
        }
        span{
            margin-top: 7px;
            color: #777777;
        }
    }
    .title_right{
        select{
            padding: 7px 90px 7px 10px;
            option{
                color: #666666;
                font-size: 14px;
            }
        }
    }
}



///////////////////////////////////////////////////////////////////////// KETA_SE_002
#teacher {
    display:flex;
    width:1280px;
    margin:0 auto;
    min-height:1000px;
    padding:50px 0;
    .teacher_left {
        position: relative;
        min-width:920px;
        .tutor_container{
            padding: 60px;
            margin-bottom: 30px;
            box-shadow: 0px 4px 8px 2px #6f6f6f33;
            &.teacher {
                .teacher_card{
                display: flex;
                overflow: hidden;
                }
                .teacher_card_bottom{
                    background:#ddd;
                }
            }
        }
    }
    .teacher_right {
        width:100%;
        margin-left:30px;
    }
}



///////////////////////////////////////////////////////////////////////// KETA_SE_011 레벨 탭
.teacher_search_list {
    background:url('../../images/visual.png') no-repeat;
    background-size: 100%;
}
.beginner {
    background:#fff;
    padding-bottom: 12rem;
}

.teacher_search_title {
    text-align: center;
    margin-top: 6rem;
    margin-bottom: 60px;

    h2 {
        font-size: 32px;
        color: #fff;
        margin-bottom: 20px;
    }

    p {
        color: #a6a6a5;
    }
}

.teacher_search_box {
    background: #fff;
    margin: 10px;
    outline: none;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.25);
    .lesson_box_top {
        img {
            width: 100%;
        }
    }
    .lesson_box_bottom {
        padding: 25px;
        h3 {
            font-size: 20px;
            font-weight: bold;
            color: #333333;
        }
        p {
            font-size: 14px;
            color: #999999;
            margin-top: 20px;
        }
    }
}

.level_title {
    display:flex;
    .level_title_left {
        width:100%;
        display:flex;
        margin-bottom:10px;
        h3 {
            font-size:28px;
        }
        .see_all {
            font-size:14px;
            font-weight:300;
            color:#777777;
            margin:15px 0 0 10px;
        }
    }
}

.level_box {
    margin: 10px;
    outline: none;
    .level_box_top {
        img {
            width: 100%;
        }
    }
    .level_box_bottom {
        padding: 15px 0;
        h3 {
            font-size: 20px;
            font-weight: bold;
            color: #333333;
            min-height: 110px;
        }
        .level_box_sub {
            display:flex;
            padding-top:10px;
            border-top:1px solid #ddd;
            p {
                display:inline-block;
                width:100%;
                font-size: 14px;
                color: #999999;
            }
            button {
                    border: none;
                    vertical-align: top;
                    width: 26px;
                    height: 24px;
                    overflow: hidden;
            }
            
        }
        
    }
}

.level_tab{
    text-align:center;
    margin:50px auto;
    .selector_tabs{
        display:inline-block;
        position:relative;
        margin-bottom:30px;
        li{
            cursor: pointer;
            width:190px;
            padding:10px 0;
            font-weight:700;
            display:inline-block;
            position:relative;
            z-index:1;
            transition-duration:0.6s;
            &.active {
                color:#fff;
            }
        }
        .selector{
            height:100%;
            display:inline-block;
            position:absolute;
            left:0px;
            top:0px;
            z-index:1;
            border-radius:50px;
            transition-duration:0.6s;
            transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
            background: #444444;
        }
    }
}



///////////////////////////////////////////////////// popup

    .popup_chapter{
        margin: 40px 0;
        text-align: center;
        .popup_chapter_list{
            display: inline-block;
            padding: 0 40px;
            p{
                margin-bottom: 5px;
                color: #999999;
                font-size: 12px;
            }
            span{
                display: inline-block;
                width: 30px;
                height: 30px;
                line-height: 30px;
                color: #999999;
                font-size: 12px;
                font-weight: 400;
                text-align: center;
                background: #e8e8e8;
                border-radius: 50%;
            }
            &:first-child{
                p{
                    color: #0d52a7;
                }
                span{
                    color: #fff;
                    background: #0d52a7;
                }
                
            }
        }
    }

///////////////////////////////////////////////////// popup02
.popup_contants_wrap02{
    text-align: center;
    ul{
        display: inline-block;
        vertical-align: top;
        &:last-child{
            li{
                margin-right: 0;
            }
        }
        li{
            margin-bottom: 15px;
            border: 1px solid #eaeaea;
            border-radius: 4px;
            padding: 10px;
            margin-right: 10px;
            background: #fafafa;
            text-align: left;
            &:first-child {
                margin-bottom: 20px;
                text-align: center;
                border: 1px solid #999999;
                border-radius: 0;
                padding: 5px 55px;
                text-align:center;
            }
            h3{
                color: #666666;
                font-size: 15px;
                font-weight: 400;
            }
            h2{
                display: inline-block;
                font-size: 20px;
                font-weight: 400;
            }
            .badge{
                &.hot{
                    padding: 2px 8px;
                    font-size: 12px;
                }
            }
        }
    }
}

///////////////////////////////////////////////////// popup03
.popup_contants_wrap03{
    .classTime{
        padding: 20px 0;
        border-top: 1px solid #eaeaea;
        .classTime_left{
            display: inline-block;
            img{
                &:nth-child(1){
                    margin-right: 5px;
                }
            }
            p{
                display: inline-block;
                margin-left: 10px;
                font-size: 20px;
                font-weight: 700;
            }
        }
        .classTime_right{
            float: right;
            span{
                margin-right: 10px;
                font-size: 15px;
            }
            span:before{
                display: inline-block;
                margin-right: 5px;
                content: '';
                width: 10px;
                height: 10px;
                background: #cccccc;
                border-radius: 50%;
            }
            span:nth-child(2){
                &:before{
                    background:#75afcd;
                }
            }
            span:nth-child(3){
                &:before{
                    background:#d99e2d;
                }
            }
            &:last-child{
                margin-right: 0;
            }
        }
    }
}

///////////////////////////////////////////////////// popup_table
.popup_contants_table {
    width: 100%;
    border-top: 2px solid black;
    border-collapse: collapse;
    tbody{
        tr{
            &:nth-child(1){
                th{
                    p{
                        color: #000;
                    }
                }
            }
            &:nth-child(2){
                td{
                    padding-left: 20px;
                    color: #666666;
                    font-size: 14px;
                    &:nth-child(2){
                        padding-right: 10px;
                    }
                }
            }
            &:nth-child(3){
                td{
                    text-align: right;
                    select{
                        width: 80%;
                        margin-right: 20px;
                        padding: 10px;
                    }
                }
            }
            &:nth-child(4){
                td{
                    padding-right: 20px;
                    text-align: right;
                    font-weight: 700;
                    p{
                        color: #666666;
                        font-size: 15px;
                        font-weight: 400;
                    }
                }
            }
            &:nth-child(5){
                th{
                    border-bottom: none;
                }
                td{
                    padding-right: 20px;
                    font-size: 22px;
                    font-weight: 700;
                    text-align: right;
                    border-bottom: none;
                }
            }
            th{
                padding: 20px;
                width: 200px;
                text-align: left;
                border-bottom: 1px solid #cccccc;
                p{
                    color: #666666;
                }
                h2{
                    color: #333333;
                    font-size: 18px;
                }
                h4{
                    margin-bottom: 5px;
                    color: #333333;
                    font-size: 14px;
                    font-weight: 400;
                }
                h5{
                    margin-top: 10px;
                    color: #666666;
                    font-size: 15px;
                }
                h6{
                    font-size: 12px;
                }
            }
            td{
                border-bottom: 1px solid #cccccc;
            }
        }
    }
}


///////////////////////////////////////////////////// schedule_completed_box
.schedule_completed_box{
    padding: 40px;
    margin-bottom: 30px;
    background: #f8f8f8;
    p{
        margin-bottom: 10px;
        color: #666666;
        em{
            margin-left: 5px;
            font-size: 14px;
        }
    }
    ul {
        padding-left: 20px;
        line-height: 22px;
        li{
            color: #999999;
            list-style-type: disc;
            font-size: 13px;
        }
        h3{
            padding: 10px 0;
            color: #999999;
            font-size: 14px;
            font-weight: 400;
        }
    }
}

///////////////////////////////////////////////////// popup_footer
.popup_footer{
    padding: 15px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    .popup_footer_left{
        display: inline-block;
        margin-right: 30px;
        img{
            display: inline-block;
            margin-right: 10px;
            margin-bottom: 15px;
            width: 30px;
            height: 30px;
        }
        span{
            display: inline-block;
            font-size: 12px;
            font-weight: 500;
        }
    }
    .popup_footer_right{
        float: right;
        .popup_footer_list{
            float: left;
            &:not(:last-child){
                padding-right: 40px;
                border-right: 1px solid #eaeaea;
            }
            &:not(:first-child){
                padding-right: 30;
                padding-left: 30px;
            }
            p{
                margin-bottom: 5px;
                color: #999999;
                font-size: 12px;
            }
            h4{
                font-size: 12px;
                text-align: center;
            }
        }
    }
}