
$primary-color : #de9d22;
$blue-color : #0d52a7;
$green-color : #208b73;
$red-color : #d1452e;
$gray-color : #dbdbdb;
$gray02-color:#333333;
$gray03-color:#444444;
$gray04-color:#777777;

////////////////////////////////////////// 카드 버튼
.enter {
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    width: 180px;
    padding: 10px 0;
    text-align: center;
}
.enter_sub {
    width: 120px;
    display: inline-block;
    font-size: 14px;
    padding: 10px 0;
    border-radius: 5px;
    text-align: center;
}
.preview {
    padding: 5px 10px;
    border-radius: 14px;
    img{
        margin-bottom: 5px;
        margin-right: 5px
    }
    &+.preview {
        margin-left:10px;
    }
}

.time_red {
    display:inline-block;
    font-size:18px;
    font-weight:700;
    color:$red-color;
    > img {
        margin-right:5px;
    }
    &.margin {
        margin:5px 20px 0 0 ;
    }
}
.time_gray {
    display:inline-block;
    font-size:14px;
    font-weight:500;
    color:$gray04-color;
    margin:0 10px;
    > img {
        margin-right:2px;
        margin-top:3px;
        vertical-align: top;
    }
}

.ongoing_badge {
    position: absolute;
    top: -5px;
    left: 19px;
    background:url(../images/ongoing.png);
    width: 93px;
    height: 34px;
    span {
        font-size:13px;
        color:#fff;
        font-weight: 700;
        display: inline-block;
        margin: 6px 13px;
    }
}
.finished_badge {
    position: absolute;
    top: -5px;
    left: 19px;
    background:url(../images/finished.png);
    width: 93px;
    height: 34px;
    span {
        font-size:13px;
        color:#fff;
        font-weight: 700;
        display: inline-block;
        margin: 6px 13px;
    }
}

///////////////////////////////////////// 카드 틀
.card_wrap {
    border: 1px solid #eaeaea;
    border-radius: 6px;
    margin-bottom: 15px;
    background:#fff;
    position: relative;
    &.check {
        &::after {
            content:'';
            position:absolute;
            width:7px;
            height:7px;
            top:10px;
            right:10px;
            border-radius: 50%;
            background:#d1452e;
        }
    }
}
.card_wrap  + .card_wrap  {margin-top: 30px;}

.card_container {
    padding:50px;
}
.card_container_sub {
    padding-top:50px;
    margin:30px 50px;
    border-top:1px solid #ddd;
}
.card_container_tit {
    margin-bottom:30px;
    h3 {
        display:inline-block;
        font-size:24px;
        color:#333333;
    }
    span {
        font-size:14px;
        color:#333333;
        margin-left:5px;
    }
}
.card_sub {
    padding: 20px 50px;
    display: block;
    &.gray {
        background:#fafafa;
    }
    button {
        font-size:16px;
        font-weight:700;
        width:210px;
        padding:10px 0;
        &+button {
            margin-left:10px;
        }
    }
}
.card_badge {
    span {
        display:inline-block;
        background:#f6f8fc;
        padding:10px 20px;
        font-size:13px;
        font-weight:500;
        color:$gray02-color;
        border-radius: 30px;
        vertical-align: sub;
        &:not(:last-child) {
            margin-right:10px;
        }
        img {
            margin-right:5px;
        }
    }
}

.card_text {
    margin-left:30px;
    .card_tt {
        margin-bottom:30px;
        h1 {
            font-size: 30px;
        }
        .card_tt_sub {
            strong {
                font-size:16px;
                color:$red-color;
            }
            span {
                font-size:16px;
                color:#666666;
                &::before {
                    content: '';
                    display: inline-block;
                    width: 1px;
                    height: 12px;
                    margin: 0 7px;
                    background: #ddd;
                }
            }
        }
    }
    
    .card_bt {
        dl {
            display:flex;
            font-size:14px;
            dt {
                min-width: 100px;
                color:#666666;
                border-right:1px solid #ddd;
                padding-right:10px;
                margin-right:20px;
            }
            dd {
                font-weight:700;
                color:#333333;
                margin-right:10px;
            }
            &+dl {
                margin-top:10px;
            }
            &:last-child {
                dt {
                    &+dd {
                        &:nth-child(2) {
                            margin-right:40px;
                        }
                    }
                }
            }
        }
    }
}



///////////////////////////////////////////////////// curriculum
.curriculum {
    .curriculum_list{
        padding: 20px;
        &:not(:last-child){
            margin-bottom: 10px;
        }
        &:nth-child(odd){
            background: #fafafa;
        }
        div {
            &:first-child {
                margin-top:5px;
                > span{
                    margin-right: 20px;
                    color: #bbbbbb;
                    font-size: 14px;
                }
            }
            > p{
                display: inline-block;
                color: #333333;
                font-size: 18px;
                > strong {
                    font-weight:500;
                    &::before {
                        content:'-';
                        display:inline-block;
                        margin: 0 10px;
                    }
                }
            }
        }
    }
}

