
///////////////////////////////////////////////////// 카드 레이아웃
.card_wrap01 {
    border: 1px solid #eaeaea;
    border-radius: 6px;
    margin-bottom: 15px;
    background:#fff;
    position: relative;
    &.check {
        &::after {
            content:'';
            position:absolute;
            width:7px;
            height:7px;
            top:10px;
            right:10px;
            border-radius: 50%;
            background:#d1452e;
        }
    }
}

.card_wrap02{
    padding: 60px;
    margin-bottom: 30px;
    box-shadow: 0px 4px 8px 2px #6f6f6f33;
    background:#fff;
}

.card_container {
    &.normal {
        padding:35px 50px;
    }
    &.padding30 {
        padding:30px;
    }
    &.gray {
        background:#fafafa;
        border:1px solid #fafafa;
    }
}


.card_text_title {
    h1{
        position: relative;
        &.new {
            &::after {
                content:'';
                position: absolute;
                top:0;
                left:40px;
                width:6px;
                height:6px;
                border-radius: 50%;
                background:#aa3238;
            }
        }
    }
}


.card_contants {
    display: flex;
    .card_text{
        display: flex;
        justify-content: space-between;
        width: 100%;
        &.sub {
            margin-left:50px;
        }
    }
}

///////////////////////////////////////////////////// .card_container_sub
.card_container_sub{
    padding: 20px 50px;
    display: flex;
    &.profile {
        background:#f9fafe;
    }
    &.comment {
        background:#fafafa;
    }
    .card_sub_description{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
}

///////////////////////////////////////////////////// .card_container_sub - profile
.card_container_sub{
    &.profile {
        background:#f9fafe;
        .card_sub_img{
            position: relative;
            img{
                margin-right: 20px;
                width: 70px;
                height: 70px;
                border-radius: 50%;
                &:nth-child(2){
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    width: 30px;
                    height: 30px;
                }
            }
        }
        .card_sub_description{
            .sub_des_left{
                p{
                    color: #222222;
                    font-size: 18px;
                    font-weight: 700;
                    margin: 5px 0;
                }
                span{
                    img{
                        width: 14px;
                        height: 14px;
                    }
                    em{
                        margin: 0 10px;
                        color: #666666;
                        font-size: 14px;
                    }
                    strong{
                        margin-left: 10px;
                        font-size: 14px;
                    }
                }
            }
            .sub_des_right{
                display: flex;
                .des_right{
                    span{
                        display: inline-block;
                        margin-bottom: 10px;
                        color: #999999;
                        font-size: 13px;
                    }
                    p{
                        color: #333333;
                        font-size: 14px;
                        font-weight: 700;
                    }
                    &:nth-child(2){
                        margin: 0 20px;
                    }
                    &:nth-child(3){
                        a{
                            p{
                                color: #0d52a7;
                            }
                        }
                    }
                }
            }
        }
    }
}

///////////////////////////////////////////////////// .card_container_sub - couseList
.card_container_sub{
    &.couseList {
        button {
            width:140px;
            font-size:16px;
            padding:10px 0;
            text-align:center;
        }
    }
}

///////////////////////////////////////////////////// .card_container_sub - comment
.card_container_sub{
    display:block;
    &.comment {
        .comment_text {
            position: relative;
            &::after {
                content:'';
                position: absolute;
                top:5px;
                left:0;
                width:12px;
                height:13px;
                background:url('../images/comment_text.png') no-repeat;
            }
            p {
                width:80%;
                padding-left:20px;
            }
            span {
                font-size:13px;
                color:#999999;
                padding-left: 20px;
            }
        }
        .comment_btn {
            text-align:right;
            button {
                font-size:14px;
                width:85px;
                padding:10px 0;
            }
        }
    }
}

///////////////////////////////////////////////////// .card_container_sub - comment_write
.card_container_sub{
    background:#f9fafe;
    display:block;
    &.comment_write {
        textarea {
            width:100%;
        }
    }
}


///////////////////////////////////////////////////// 카드타입 00


.card00 {
    .card_contants_left{
        img{
            margin-right: 30px;
        }
    }
    .card_contants_right{
        // contants_middle
        .contants_middle{
            p{
                width: 643px;
                font-size: 32px;
                font-weight: 500;
                margin-top:10px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
            span{
                display: inline-block;
                margin:10px 0;
                img{
                    width: 14px;
                    height: 14px;
                }
                em{
                    color: #666666;
                    font-size: 18px;
                }
                strong{
                    margin-left: 10px;
                    font-size: 14px;
                }
            }
        }
        // contants_middle[e]

        // contants_bottom
        .contants_bottom{
            margin-top: 20px;
            h5{
                margin-bottom: 5px;
                color: #999999;
                font-size: 14px;
                font-weight: 400;
            }
            span{
                margin-right: 5px;
                font-weight: 700;
                color:#333333;
            }
            span:not(:nth-child(2)){
                margin-left: 40px;
            }
            .language_skill_statue{
                display: inline-block;
                div{
                    display: inline-block;
                    width: 7px;
                    height: 13px;
                    background: #eaeaea;
                }
                &.skill01 {
                    div {
                        &:first-child {
                            background:#75afcd;
                        }
                    }
                }
                &.skill02 {
                    div {
                        &:nth-child(n+1):nth-child(-n+2) {
                            background:#75afcd;
                        }
                    }
                }
                &.skill03 {
                    div {
                        &:nth-child(n+1):nth-child(-n+3) {
                            background:#75afcd;
                        }
                    }
                }
                &.skill04 {
                    div {
                        &:nth-child(n+1):nth-child(-n+4) {
                            background:#75afcd;
                        }
                    }
                }
                &.skill05 {
                    div {
                        &:nth-child(n+1):nth-child(-n+5) {
                            background:#75afcd;
                        }
                    }
                }
                &.skill06 {
                    div {
                        &:nth-child(n+1):nth-child(-n+6) {
                            background:#75afcd;
                        }
                    }
                }
            }
        }
        // contants_bottom[e]
    }
}



.contants_footer{
    margin-top: 30px;
    padding: 20px 50px;
    background: #efefef;
    .contants_footer_list{
        display: inline-block;
        &:first-child{
            h5{
                color: #b94a38;
                font-size: 18px;
            }
        }
        &:not(:first-child){
            span{
                margin-left: 100px;
            }
        }
        span{
            padding-right: 15px;
            color: #666666;
            font-size: 14px;
            font-weight: 500;
            border-right: 1px solid #dbdbdb;
        }
        img{
            color: #b94a38;
            margin-left: 10px;
            vertical-align: top;
            margin-top: 5px;
        }
        h5{
            display: inline-block;
            font-size: 14px;
            margin-left: 10px;
        }
    }
    .heart_break_btn{
        float: right;
        border: none;
    }
}
///////////////////////////////////////////////////// 카드타입 01
.card01 {
    .card_img {
        display: block;
        background: url(../images/user_icon.png) no-repeat left top;
        background-size: cover;
        width: 140px;
        height: 120px;
        text-decoration: none;
        position: relative;
        border: 0;
        span {
            width: 120px;
            height: 120px;
            border-radius: 50%;
            position: absolute;
            background: url(../images/teacher01.png) center center / cover no-repeat;
            left: 0;
            overflow: hidden;
        }
        &::after {
            content: '';
            background: url(../images/america.png) no-repeat;
            width: 40px;
            height: 50px;
            position: absolute;
            right: -17px;
            bottom: -5px;
        }
        &.sub01 {
            span {
                background: url(../images/teacher02.png) center center / cover no-repeat;
            }
        }
        &.sub02 {
            span {
                background: url(../images/teacher03.png) center center / cover no-repeat;
            }
        }
        &.sub03 {
            span {
                background: url(../images/teacher04.png) center center / cover no-repeat;
            }
        }
    }
    .card_text {
        .card_text_left {
            .card_text_title {
                margin-bottom: 25px;
                h1 {
                    font-size:24px;
                }
                h3 {
                    display:inline-block;
                    color: #666666;
                    font-size: 18px;
                    font-weight: 400;
                }
                a {
                    font-size:14px;
                    color:#0d52a7;
                }
                img {
                    margin:0 5px;
                    margin-top:-5px;
                }
            }
            .card_text_bottom{
                display: flex;
                div {
                    text-align:center;
                    margin-right:20px;
                    padding-right:20px;
                    border-right: 1px solid #e3e3e3;
                    &.profile_bottom_left {
                        text-align:left;
                        padding-left:0;
                    }
                    &:last-child {
                        margin-right:0;
                        border-right:none;
                    }
                }
                .profile_bottom_left{
                    strong{
                        margin-right: 10px;
                        color: #0d52a7;
                        font-size: 24px;
                    }
                    span{
                        color: #333333;
                        font-size: 14px;
                        font-weight: 500;
                    }
                    p{
                        color: #999999;
                        font-size: 14px;
                    }
                }
                .profile_bottom_middle{
                    img{
                        margin-top: 5px;
                        display:none;
                    }
                    p{
                        margin-top: 8px;
                        font-size: 13px;
                    }
                    &.on {
                        .on {
                            display:inline-block;
                        }
                        p {
                            color: #0d52a7;
                        }
                    }
                    &.off {
                        .off {
                            display:inline-block;
                        }
                        p {
                            color: #bbbbbb;
                        }
                    }
                }
                .profile_bottom_right{
                    img {
                        display:none;
                    }
                    p{
                        margin-top: 12px;
                        color: #0d52a7;
                        font-size: 13px;
                    }
                    &.on {
                        .on {
                            display:inline-block;
                        }
                        p {
                            color: #0d52a7;
                        }
                    }
                    &.off {
                        .off {
                            display:inline-block;
                        }
                        p {
                            color: #bbbbbb;
                        }
                    }
                }
            }
        }
        .card_text_right{
            position:relative;
            text-align: right;
            .card_right_img{
                button {
                    border:none;
                    &.heart {
                        img {
                            display:none;
                        }
                        &.on {
                            img {
                                &.on {
                                    display:inline-block;
                                }
                            }
                        }
                        &.off {
                            img {
                                &.off {
                                    display:inline-block;
                                }
                            }
                        }
                    }
                }
            }
            p {
                margin-top: 20px;
                img {
                    margin-right: 10px;
                    margin-bottom: 4px;
                    display:none;
                }
                &.on {
                    color: #1b4c88;
                    img {
                        &.on {
                            display:inline-block;
                        }
                    }
                }
                &.off {
                    color: #777777;
                    img {
                        &.off {
                            display:inline-block;
                        }
                    }
                }
            }
            > button{
                position: absolute;
                width:180px;
                margin-top: 10px;
                padding: 15px 0;
                font-size: 16px;
                border: none;
                right:0;
                bottom:0;
            }
        }
    }
}


///////////////////////////////////////////////////// 카드타입 02
.card02{
    .card_img{
        margin-right: 20px;
        position: relative;
        img{
            width: 100px;
            height: 100px;
        }
    }
    .card_text_left {
        h2{
            margin-bottom: 5px;
            font-size: 24PX;
            width: 460px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
        h3{
            margin-bottom: 10px;
            color: #666666;
            font-size: 18PX;
            font-weight: 400;
            img:nth-child(1){
                margin-left: 5px;
                width: 17px;
                height: 17px;
            }
            img:nth-child(2){
                margin: 0 5px;
                width: 17px;
                height: 17px;
            }
            em{
                vertical-align: middle;
                font-size: 18px;
                font-weight: 600;
            }
        }
        h4{
            color: #999999;
            font-size: 14px;
            font-weight: 400;
        }
    }
}


///////////////////////////////////////////////////// 카드타입 03
.card03{
    .card_img {
        margin-right:30px;
    }
    .card_text_left {
        .card_text_title {
            h1{
                position: relative;
                font-size: 32px;
                color:#111111;
                margin: 5px 0 15px;
            }
        }
        .card_text_bottom {
            dl {
                font-size:14px;
                margin:10px 0;
                dt {
                    display:inline-block;
                    color:#666666;
                    padding-right:15px;
                    margin-right:10px;
                    border-right:1px solid #dbdbdb;
                    &.dt_right {
                        margin-left:50px;
                    }
                }
                dd {
                    font-weight: 500;
                    color:#333333;
                    display:inline-block;
                }
            }
        }
        
    }
}

///////////////////////////////////////////////////// 카드타입 04
.card04{
    .card_text_left {
        .card_text_title {
            h1{
                font-size: 24px;
                color:#222222;
                margin: 5px 0 15px;
                img {
                    margin-right:5px;
                }
            }
        }
        .card_text_bottom {
            h3 {
                font-size:24px;
                font-weight:300;
                color:#333333;
                strong {
                    font-weight:500;
                    margin-right:5px;
                }
            }
            p {
                font-size:14px;
                font-weight:500;
                color:#0d52a7;
            }
        }
    }
    .card_text_right {
        text-align: right;
        .card_right_img{
            margin-bottom:30px;
            button {
                border:none;
            }
        }
    }
}

///////////////////////////////////////////////////// uncovering
.classList {
    background:#fcfcfc;
    .card_container {
        .card_contants {
            justify-content: space-between;
            .select_left{
                h4:first-child{
                    display: block;
                    color: #000000;
                    font-size: 18px;
                    font-weight: 700;
                    border-right: none;
                }
                h4{
                    display: inline-block;
                    padding-right: 10px;
                    color: #777777;
                    font-size: 14px;
                    font-weight: 400;
                    border-right: 1px solid #cdcece;
                    &:nth-child(3){
                        padding-left: 10px;
                    }
                    &:nth-child(4){
                        padding-left: 10px;
                    }
                    &:last-child{
                        border-right: none;
                    }
                }
            }
            .select_right{
                h3{
                    display: inline-block;
                    margin-right: 5px;
                }
                h4{
                    margin-right: 5px;
                    font-size: 20px;
                    text-align: right;
                }
            }
        }
    }
}
       

///////////////////////////////////////////////////// uncovering
.todyLesson{
    justify-content: space-between;
    .today_content{
        display:inline-block;
        width:285px;
        h1{
            margin-bottom: 15px;
            font-size: 24px;
            font-weight: 500;
        }
        h2{
            margin-bottom: 5px;
            font-size: 18px;
            font-weight: 700;
        }
        h3{
            margin-bottom: 20px;
            color: #666666;
            font-size: 14px;
        }
        h4{
            margin-bottom: 5px;
        }
        button{
            width: 260px;
            padding:15px 0;
        }
        &:nth-child(2) {
            padding:0 30px;
            border-left:1px solid #ddd;
            border-right:1px solid #ddd;
        }
        &:last-child {
            margin-top:40px;
            text-align:center;
            vertical-align: top;
            h2 {
                color:#999999;
                margin-top:10px;
            }
        }
    }
}

///////////////////////////////////////////////////// uncovering
.uncovering{
    display: flex;
    justify-content: space-around;
    width: 100%;
    > div {
        text-align: center;
        &:nth-child(2){
            padding: 0 70px;
            border-right: 1px solid black;
            border-left: 1px solid black;
        }
        &:nth-child(3){
            padding-right: 70px;
            border-right: 1px solid black;
        }
        h3{
            margin-bottom: 10px;
            color: #333333;
            font-size: 18px;
        }
        p{
            margin-bottom: 10px;
            font-size: 30px;
            text-align: center;
        }
        strong{
            em{
                color: #b94a38;
            }
        }
        h4{
            color: #666666;
            strong{
                color: #333333;
                font-size: 22px;
            }
            em{
                padding: 0 5px;
                color: #333333;
                font-weight: 400;
                &:not(:first-child){
                    font-weight: 700;
                }
            }
        }
    }
}

///////////////////////////////////////////////////// curriculum
.curriculum{
    width: 100%;
    .curriculum_list{
        display: inline-block;
        padding: 20px 5px;
        width: 100%;
        &:not(:last-child){
            margin-bottom: 10px;
        }
        &:nth-child(2){
            background: #fafafa;
        }
        span{
            margin-right: 10px;
            color: #bbbbbb;
            font-size: 14px;
        }
        p{
            display: inline-block;
            color: #333333;
            font-size: 18px;
        }
        button{
            padding: 5px 10px;
            border: none;
            background: #ccc;
            border-radius: 14px;
            float: right;
            
            img{
                margin-bottom: 5px;
                margin-right: 5px
            }
        }
    }
}

///////////////////////////////////////////////////// usage_main
.usage_main {
    justify-content: space-between;
    .history_main_left{
        h1{
            margin-bottom: 10px;
            color: #333333;
            font-size: 28px;
        }
        h4{
            margin-bottom: 30px;
            color: #999999;
            font-size: 14px;
            font-weight: 400;
        }
        
    }
    .history_main_right{
        display: flex;
        justify-content: space-around;
        text-align: center;
        width: 50%;
        .main_right_btn{
            button{
                border: none;
                img{
                    margin-bottom: 10px;
                }
            }
            p{
                color: #666666;
                font-size: 14px;
                strong{
                    color: #333333;
                    font-size: 20px;
                }
            }
        }
    }
}
    

///////////////////////////////////////////////////// usage_history01
.usage_history01{
    .card_text_left {
        .card_text_title {
            h1{
                font-size: 24px;
                color:#222222;
                margin: 5px 0 15px;
                img {
                    margin-right:5px;
                }
            }
        }
        .card_text_bottom {
            div {
                display:inline-block;
                strong {
                    font-size:24px;
                    font-weight:700;
                    margin-right:5px;
                    color:#0d52a7;
                }
                span {
                    font-size:14px;
                    color:#333333;
                }
                &:first-child {
                    padding-right:50px;
                }
                &:last-child {
                    vertical-align: top;
                    margin-top:20px;
                    padding-left: 30px;
                    border-left: 1px solid #ddd;
                    span {
                        font-size:14px;
                        color:#333333;
                    }
                    img {
                        margin-left:5px;
                    }
                }
            }
            p {
                font-size:14px;
                font-weight:500;
                color:#999999;
            }
        }
    }
    .card_text_right {
        position:relative;
        text-align: right;
        .card_right_img{
            margin-bottom:30px;
            button {
                border:none;
            }
        }
        > p {
            margin-top: 20px;
            img {
                margin-right: 10px;
                margin-bottom: 4px;
                display:none;
            }
            &.on {
                color: #1b4c88;
                img {
                    &.on {
                        display:inline-block;
                    }
                }
            }
            &.off {
                color: #777777;
                img {
                    &.off {
                        display:inline-block;
                    }
                }
            }
        }
        > button {
            width: 180px;
            margin-top: 10px;
            padding: 15px 0;
            font-size: 16px;
            position: absolute;
            border: none;
            right: 0;
            bottom: 0;
        }
        > span {
            position: absolute;
            right: 200px;
            border-radius: 20px;
            font-size: 14px;
            padding: 5px 15px 7px 15px;
            bottom: 12px;
            vertical-align: middle;
            white-space: nowrap;
            &.off {
                background: #bbbbbb;
                color: #fff;
            }
            &.on {
                background:#e0f1ec;
                color:#2f7e69;
            }
        }
    }
}



///////////////////////////////////////////////////// usage_history03
.usage_history03{
    .card_text_left {
        .card_text_title {
            h1{
                font-size: 24px;
                color:#222222;
                margin: 5px 0 15px;
                img {
                    margin-right:5px;
                }
            }
        }
        .card_text_bottom {
            div {
                strong {
                    font-size:24px;
                    font-weight:700;
                    margin-right:5px;
                    color:#999999;
                }
                span {
                    font-size:14px;
                    font-weight:500;
                    color:#999999;
                }
            }
            p {
                font-size:14px;
                font-weight:500;
                color:#999999;
            }
        }
    }
    .card_text_right {
        text-align: right;
        .card_right_img{
            margin-bottom:30px;
            button {
                border:none;
            }
        }
        .card_star {
            display:inline-block;
            span {
                display:block;
            }
        }
    }
}


///////////////////////////////////////////////////// usage_history02
.usage_history02{
    .card_text_left {
        .card_text_title {
            h1{
                font-size: 24px;
                color:#222222;
                margin: 5px 0 15px;
                img {
                    margin-right:5px;
                }
            }
        }
        .card_text_bottom {
            h4 {
                font-size:24px;
                font-weight:500;
                color:#333333;
                strong {
                    font-weight:700;
                }
            }
            p {
                font-size:14px;
                color:#0d52a7;
            }
        }
    }
    .card_text_right {
        text-align: right;
        .card_right_img{
            margin-bottom:30px;
            button {
                border:none;
            }
        }
    }
}


///////////////////////////////////////////////////// usage_history04
.usage_history04{
    .card_text_left {
        .card_text_title {
            h1{
                position: relative;
                font-size: 24px;
                color:#222222;
                margin: 5px 0 15px;
                img {
                    position: relative;
                    margin-right:5px;
                    
                }
            }
        }
        .card_text_bottom {
            div {
                strong {
                    font-size:24px;
                    font-weight:700;
                    margin-right:5px;
                    color:#0d52a7;
                }
                span {
                    font-size:14px;
                    color:#333333;
                }
            }
            p {
                font-size:14px;
                font-weight:500;
                color:#999999;
            }
        }
    }
    .card_text_right {
        text-align: right;
        .card_right_img{
            margin-bottom:30px;
        }
        p {
            font-size:13px;
            color:#666666;
            text-align:center;
            margin-bottom:5px;
        }
        button {
            width:130px;
            padding:10px 0;
            font-weight:700;
        }
    }
}


