@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
@import 'card.scss';
@import 'card2.scss';
@import 'table.scss';
@import 'popup.scss';
body {font-family: 'Noto Sans KR', sans-serif;}

$primary-color : #de9d22;
$blue-color : #0d52a7;
$green-color : #208b73;
$red-color : #d1452e;
$gray-color : #dbdbdb;
$gray02-color:#333333;
$gray03-color:#444444;
$gray04-color:#222222;
@mixin footer_select {
    width: 130px;
    padding: 8px;
    color: #fff;
    border: 1px solid #fff;
    background: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}


.mt20 {margin-top:20px !important;}
.mt55 {margin-top:55px !important;}
.ml30 {margin-left:30px !important;}
.mb35 {margin-bottom:35px !important;}
.mb20 {margin-bottom:20px !important;}
.mb30 {margin-bottom:30px !important;}
.padding50 {padding:50px;}



.flex {display:flex;}
.float_right {float:right;}



// 뱃지 스타일
.badge {display:inline-block;padding:4px 15px;font-size:14px;font-weight:700;border-radius:14px;margin-right:5px;}
.badge.best {color:#fe8144;border:1px solid #fe8144;}
.badge.new {color:#269d7d;border:1px solid #269d7d;}
.badge.hot {color:#d1452e;border:1px solid #d1452e;}
.badge.event {color:#1b4c88;border:1px solid #1b4c88;}

// 버튼 사이즈
.lg_btn {display:inline-block;padding: 10px 50px;border:none;box-sizing: border-box;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;}
.md_btn {display:inline-block;padding:10px 25px;border:none;box-sizing: border-box;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;}
.sm_btn {display:inline-block;padding: 5px 10px;border:none;box-sizing: border-box;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;}
.xsm_btn {display:inline-block;padding: 10px 20px;border:none;box-sizing: border-box;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;}

// 라운드 버튼
.round5 {border-radius:5px;}
.round15 {border-radius: 15px;}
.round30 {border-radius: 30px;}

// 버튼 스타일
.line_red {color:#b94a38;border:1px solid #b94a38;}
.line_gray01 {color:#bababa;border:1px solid #bababa;}
.line_gray02 {color:#666666;border:1px solid #eaeaea;background:#f8f8f8;}
.line_gray03 {color:#666666;border:1px solid #cccccc;}
.line_gray04 {color:#333333;border:1px solid #bfbfbf;background:#fff;}

.btn_none {border:none;background:none;}
.line_white {color:#fff;border:1px solid #fff;}
.line_blue {color:#0d52a7;border:1px solid #0d52a7;background:#fff;}
.line_blue02 {color:#33c4e8;border:1px solid #33c4e8;}
.bg_red {background:#b94a38;color:#fff;border:1px solid #b94a38;}
.bg_gray {background:#444444;color:#fff;border:1px solid #444444;}
.bg_gray02 {background:#bbbbbb;color:#fff;border:1px solid #bbbbbb;}
.bg_gray03 {background:#aaaaaa;color:#fff;border:1px solid #aaaaaa;}
.bg_gray04 {color:#333333;border:none;}
.bg_gray04 {background:#dbdbdb;;color:#fff;border:1px solid #dbdbdb;}
.bg_light_gray {background:#bbbbbb;color:#fff;border:1px solid #bbbbbb;}
.bg_blue {background:#1b4c88;color:#fff;border:1px solid #1b4c88;}
.bg_blue02 {background:#33c4e8;color:#fff;border:1px solid #33c4e8;}
.bg_white {background:#fff;border:1px solid #fff;border:1px solid #fff;}
.bg_green {color:#2f7e69;background:#e0f1ec;border:1px solid #e0f1ec;}
.bg_orange {color:#dca010;background:#faf1db;border:1px solid #faf1db;}


.text-right {text-align:right;}
.middle {vertical-align: middle;}

// 평점 
.star {position: relative;padding-left:26px;}
.star::before {content:'';position: absolute;top:3px;left:0;background:url('../images/star.png');width:20px;height:19px;}

// 더보기
.showMore {display:inline-block;font-size:14px;color:#0d52a7;font-weight:500;}


.reserved_star {
    position:absolute;
}

// input 스타일
input[type="checkbox"] {
    display:none;
    &+label {
        position: relative;
        display:inline-block;
        margin-right:15px;
        padding-left: 25px;
        color:#333333;
        cursor: pointer;
        vertical-align: middle;
        &:after {
            position: absolute;
            top:3px;
            left: 0;
            display: inline-block;
            width: 20px;
            height: 20px;
            content: '';
            background:url("../images/checkbox_off.png") top no-repeat;
        }
    }
    &:checked+label {
        color:#0d52a7;
        &:after {
            background:url("../images/checkbox_on.png") top no-repeat;
        }
    }
}

// slick 슬라이드
.slick-initialized .slick-slide {outline:none;}





///////////////////////////////////////////////////////////////////////// 기본 틀
body.teacher {
    background:#f6f6f6;
}
body.login {
    background:#f6f6f6;
}
.wrap {
    width: 1280px;
    margin: 0 auto;
    padding: 6rem 0;
    min-height: 700px;
    &.padding10 {
        padding-top:1.5rem;
    }
    &.padding0 {
        padding:0;
        min-height:auto;
    }
}

.flex {
    display:flex;
}
.flex_sub {
    display:flex;
    justify-content:space-between;
}

///////////////////////////////////////////////////////////////////////// 목차
.cate {
    width: 1280px;
    text-align:right;
    color:#999999;
    font-size:12px;
    margin: 0 auto;
    padding-top:20px;
    a {
        position:relative; 
        margin:0 23px 0 5px;
        color:#999999;
        &::after {
            position:absolute;
            right:-18px; 
            top:0;
            cursor:default;
            content:" >"
        }
        &:last-child {
            margin-right:0;
            padding-right:0;
            color:#000;
            &::after {
                display:none;
                margin-left:0;
            }
        }
    }
    span {
        margin:0 5px;
    }
}



///////////////////////////////////////////////////////////////////////// 필터 옵션
.box_component_wrap {
    border-bottom: 1px solid #eaeaea;
    z-index: 3;
    background:#315f97;
    .box_component {
        width:1280px;
        margin:0 auto;
        padding:18px 0;
        ul {
            display:inline-block;
            li {
                display:inline-block;
                &:first-child {
                    .popup-wrap {
                        .popup-box {
                            width:724px;
                        }
                    }
                }
                &:last-child {
                    margin-right:0;
                }
                .popup-wrap {
                    &.popup-closed {
                        button {
                            color:#b4b4b4;
                        }
                    }
                }
                button {
                    padding:10px 0;
                    font-size:14px;
                    color:#fff;
                    border:none;
                    img {
                        margin-right:5px;
                    }
                    &::after {
                        content:"";
                        display:inline-block;
                        width:2px;
                        height:20px;
                        margin:0 15px;
                        background:#466fa1;
                        vertical-align: middle;
                    }
                }
            }
        }
    }  
}

///////////////////////////////////////////////////////////////////////// 필터 옵션 레이어팝업
 .popup-wrap {
    position: relative;
    .popup-box-styles {
        position: absolute;
        left: 0;
        top: 3em;
        z-index: 999999;
        padding: 1em;
        text-align: left;
        background-color: #fff;
        color: #000;
        box-shadow: 0px 4px 8px 2px #6f6f6f33;
    }
    .filter {
         display:flex;
        overflow:hidden;
    }
    [aria-hidden=true] {
        display: none;
    }
}


.popup-box-styles {
    .filter_title {
        margin:20px 0 10px 0;
        &.sub {
            margin:0;
        }
        h3 {
            display:inline-block;
            font-size:16px;
        }
        p {
            float:right;
            font-size:13px;
            color:#bbbbbb;
            margin-top:6px;
            span {
                color:#999999;
            }
        }
        img {
            margin-left:5px;
            cursor: pointer;
            vertical-align: top;
        }
    }
        .filter_box {
            display: inline-block;
            text-align: center;
            padding: 20px 0;
            width:120px;
            margin:10px;
            border: 1px solid #999999;
            cursor: pointer;
            img {
                margin-bottom:10px;
            }
            p {
                font-size:14px;
            }
            &.selected {
                font-weight:bold;
                color:$blue-color;
                border:1px solid $blue-color;
            }
        }
        .days {
            width:100%;
            ul {
                li {
                    width:9%;
                    text-align:center;
                    padding:10px 20px;
                    border:1px solid #ddd;
                    float:left;
                }
            }
        }
}




.lang_skill{
    display: inline-block;
    div{
        display: inline-block;
        width: 7px;
        height: 13px;
        background: #eaeaea;
    }
    &.skill01 {
        div {
            &:first-child {
                background:#75afcd;
            }
        }
    }
    &.skill02 {
        div {
            &:nth-child(n+1):nth-child(-n+2) {
                background:#75afcd;
            }
        }
    }
    &.skill03 {
        div {
            &:nth-child(n+1):nth-child(-n+3) {
                background:#75afcd;
            }
        }
    }
    &.skill04 {
        div {
            &:nth-child(n+1):nth-child(-n+4) {
                background:#75afcd;
            }
        }
    }
    &.skill05 {
        div {
            &:nth-child(n+1):nth-child(-n+5) {
                background:#75afcd;
            }
        }
    }
    &.skill06 {
        div {
            &:nth-child(n+1):nth-child(-n+6) {
                background:#75afcd;
            }
        }
    }
}



///////////////////////////////////////////////////////////////////////// timetable
.timetable{
    table{
        width: 100%;
        border-top: 1px solid #dddddd;
        border-bottom: 1px solid #dddddd;
        border-collapse: collapse;
        thead{
            th{
                color: #666666;
                font-size: 13px;
                font-weight: 300;
                padding:5px;
                border-bottom:1px solid #dddddd;
            }
        }
            tbody{
                tr{
                    td {
                            vertical-align: middle;
                        div{
                            background: #f2f2f2;
                            margin:5px;
                            padding: 15px 40px;
                            border-radius: 3px;
                            &.blue {
                                background: #75afcd;
                            }
                        }
                        &:first-child{
                            color: #666666;
                            font-size: 15px;
                        }
                    }
                }
            }
        }
}

///////////////////////////////////////////////////////////////////////// 마이페이지 탭
input[type="radio"] {
    display: none;
}

.tabs {
    display: flex;
    overflow: hidden;
    &.sub {
        margin-bottom:20px;
    }
    .tab {
        position:relative;
        width: 25%;
        padding: 20px;
        display: inline-block;
        font-size: 16px;
        color: #666666;
        text-align: center;
        border-width: 1px 1px 1px 0;
        border-style:solid;
        border-color:#eaebec;
        cursor: pointer;

        &:first-child {
            border-width:1px;
        }

        span {
            font-size: 20px;
            font-weight: bold;
            color: #b94a38;
            margin-left: 10px;
            &.none {
                color:#999999;
            }
        }
        &.label_check {
            &::after {
                content: '';
                position: absolute;
                width: 8px;
                height: 8px;
                background: #b94a38;
                top: 13px;
                border-radius: 50%;
                right: 15px;
            }
        }
    }
}

.panel {
    display: none;
    padding-top: 20px;
    animation: fadein .8s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

#one:checked~.panels #one-panel,
#two:checked~.panels #two-panel,
#three:checked~.panels #three-panel,
#four:checked~.panels #four-panel {
    display: block
}

#one:checked~.tabs #one-tab,
#two:checked~.tabs #two-tab,
#three:checked~.tabs #three-tab,
#four:checked~.tabs #four-tab {
    background: #b94a38;
    color: #fff;
    border: 1px solid #b94a38;
}

#one:checked~.tabs #one-tab,
#two:checked~.tabs #two-tab,
#three:checked~.tabs #three-tab,
#four:checked~.tabs #four-tab {
    &::after {
        background: #fff;
    }
}

#one:checked~.tabs #one-tab span,
#two:checked~.tabs #two-tab span,
#three:checked~.tabs #three-tab span,
#four:checked~.tabs #four-tab span {
    color: #fff;
}

///////////////////////////////////////////////////////////////////////// 헤더
#header {
    position: relative;
    width: 100%;
    z-index: 3;
    background:#fff;
    &.border {
        border-bottom:1px solid #eaeaea;
    }
    #gnb {
        width: 1280px;
        margin: 0 auto;
        display: flex;
        padding: 15px 0;
        // 로고
        h1 {
            display: inline-block;
            margin-right: 30px;
            a {
                img {
                    &.korea_logo {
                        width:30px;
                    } 
                }
            }
        }
        ul {
            padding-top:2px;
            display: inline-block;
            margin-left: auto;
            li {
                display: inline-block;
                vertical-align: middle;
                font-weight: bold;
                font-size:15px;

                a {
                    display:inline-block;
                    font-weight: bold;
                    font-size:15px;
                    border-bottom:2px solid transparent;

                    &:hover {
                        border-bottom:2px solid #222;
                    }
                }
            }
        }
        .gnb_menu {
            li {
                &:nth-child(2) {
                    margin: 0 35px;
                }
            }
        }
        .gnb_left {
            ul {
                li {
                    margin-right:40px;
                }
            }
            h1 {
                a {
                    span {
                        font-size:18px;
                        margin-left:15px;
                        vertical-align: middle;
                    }
                }
            }
        }
        .gnb_right {
            float: right;
            li {
                color:#666666;
                margin-right:8px;
                cursor: pointer;
                &:first-child {
                    margin-right:15px;
                }
                &:last-child {
                    margin-right:0px;
                }
                a {
                    padding:5px 15px; 
                    border-radius: 20px;
                    font-size:14px;
                    span {
                        vertical-align: top;
                    }
                }
                strong {
                    color:#0d52a7;
                }
                span {
                    font-weight:normal;
                }
            }
        }
    }
}

///////////////////////////////////////////////////////////////////////// footer
#footer {
    width: 100%;
    height: auto;
    background-color: #1b2023;
    #footer_wrap {
        position: relative;
        width: 1280px;
        margin: 0 auto;
        padding: 50px 0;
        .footer_info {
            display: inline-block;
            ul {
                display: inline-block;
                vertical-align: top;
                margin-right: 60px;
                font-size: 14px;
                li {
                    color: #fff;
                    margin: 10px 0;
                    &:first-child {
                        margin-top: 0;
                        margin-bottom: 30px;
                        font-weight: 700;
                    }
                    a {
                        color: #737373;
                    }
                }
                &:last-child {
                    li {
                        color: $primary-color;
                    }
                }
            }
        }
        .footer_right {
            float: right;
            color: #fff;
            .footer_select {
                text-align: right;
                margin-bottom: 20px;
                span {
                    margin-right:20px;
                }
                select {
                    @include footer_select;
                    option {
                        color:#000;
                    }
                }
            }
            .footer_sns {
                padding-top: 20px;
                color: #fff;
            }
        }
    }
    .footer_bottom {
        border-top: 1px solid #323739;
        color: #777777;
        font-size:14px;
        .footer_wrap {
            position: relative;
            width: 1280px;
            margin: 0 auto;
            padding: 30px 0;

            div {
                display: inline-block;
                &.footer_bottom_left {
                    img {
                        margin-right:15px;
                    }
                }
                &.footer_bottom_right {
                    float: right;
                }
            }
        }
    }

}





html, body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-style: initial;
    vertical-align: baseline;
    font-family: 'Noto Sans KR', sans-serif;
    letter-spacing: -0.2px;
}
ul, li {list-style: none;}
a {text-decoration: none;color: initial;}
button {font-family: 'Noto Sans KR', sans-serif;outline: none;background: initial;cursor: pointer;}
input {outline: none;}
img {vertical-align:middle;}