.badge {display:inline-block;padding:4px 15px;font-size:14px;font-weight:700;border-radius:14px;}
.badge.best {color:#fe8144;border:1px solid #fe8144;}
.badge.new {color:#269d7d;border:1px solid #269d7d;}
.badge.hot {color:#d1452e;border:1px solid #d1452e;}
.badge.event {color:#1b4c88;border:1px solid #1b4c88;}


.btn {display:inline-block;border:none;box-sizing: border-box;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;}
.lg-btn {padding: 20px;width: 100%;border-radius:32px;font-size:20px;font-weight:bold;}
.sm-btn {padding: 5px 10px;display:inline-block;}