.select_course_box{
    padding: 40px;
    .select_title{
        p{
            font-size: 28px;
            font-weight: 700;
            text-align: center;
        }
    }

}

.select_title{
    margin-bottom: 50px;
    text-align: center;
    p{
        margin: 20px 0;
    }
    h3{
        color: #444444;
        font-size: 15px;
        font-weight: 400;
    }
}

.schedule_completed_box{
    padding: 40px;
    margin-bottom: 30px;
    background: #f8f8f8;
    p{
        margin-bottom: 10px;
        color: #666666;
        em{
            margin-left: 5px;
            font-size: 14px;
        }
    }
    ul {
        padding-left: 20px;
        line-height: 22px;
        li{
            color: #999999;
            list-style-type: disc;
            font-size: 13px;
        }
        h3{
            padding: 10px 0;
            color: #999999;
            font-size: 14px;
            font-weight: 400;
        }
    }
}

.btn_box{
    text-align: center;
    button{
        color: #666666;
        font-size: 18px;
        font-weight: 700;
    }
}