.select_course_box{
    padding: 40px;
    .select_title{
        p{
            font-size: 28px;
            font-weight: 700;
            text-align: center;
        }
    }

}

.select_title{
    margin-bottom: 50px;
    text-align: center;
    h3{
        color: #444444;
        font-size: 15px;
        font-weight: 400;
    }
}

// course_details_popupBox
.course_details_popupBox{
    // detail_description_box
    .detail_description_box{
        margin-bottom: 40px;
        // detail_description_left
        .detail_description_left{
            display: inline-block;
            width: 42%;
            .detail_description_item{
                display: inline-block;
                h3{
                    display: inline-block;
                    padding-bottom: 5px;
                    margin-bottom: 5px;
                    color: #999999;
                    font-size: 14px;
                    border-bottom: 1px solid #999999;
                }
                h4{
                    font-size: 14px;
                }
                &:nth-child(2){
                    float: right;
                }
            }
        }
        // detail_description_left[e]

        // detail_description_right
        .detail_description_right{
            display: inline-block;
            margin-left: 100px;
            width: 37%;
            .detail_description_item{
                display: inline-block;
                &:nth-child(2){
                    float: right;
                }
                h3{
                    display: inline-block;
                    padding-bottom: 5px;
                    margin-bottom: 5px;
                    color: #999999;
                    font-size: 14px;
                    border-bottom: 1px solid #999999;
                }
                h4{
                    font-size: 14px;
                }
                .detail_language_list{
                    h4{
                        display: inline-block;
                        &:not(:last-child){
                            margin-right: 40px;
                        }
                    }
                }
            }
        }
        // detail_description_right[e]
    }
    // detail_description_box[e]

    


}
// course_details_popupBox[e]

// detail_story_box
.detail_story_box{
    margin-bottom: 40px;
    p{
        margin-bottom: 10px;
        font-size: 18px;
        font-weight: 700;
    }
    h4{
        color: #666666;
        font-size: 14px;
        font-weight: 400;
        em{
            color: #0d52a7;
            font-size: 14px;
            font-weight: 500;
            img{
                margin-right: 3px;
                color: #0d52a7;
                width: 10px;
                height: 10px;
            }
        }
    }
}
// detail_story_box[e]


.btn_box{
    text-align: center;
    button{
        color: #666666;
        font-size: 18px;
        font-weight: 700;
    }
}