.popup_question_box{
    select{
        margin-bottom: 20px;
        width: 100%;
        padding: 10px;
        color: #666666;
        font-size: 13px;
    }

    input{
        display: block;
        margin: 0 auto;
        padding: 20px 10px 200px 12px;
        width: 100%;
        color: #999999;
        font-size: 14px;
        vertical-align: top;
        box-sizing: border-box;
    }
}

.btn_box{
    margin-top: 40px;
}