.select_course_box{
    padding: 40px;
    .select_title{
        p{
            font-size: 28px;
            font-weight: 700;
            text-align: center;
        }
    }

}

.select_title{
    margin-bottom: 50px;
    text-align: center;
    p{
        margin: 20px 0;
    }
    h3{
        color: #444444;
        font-size: 15px;
        font-weight: 400;
    }
}

// course_details_popupBox
.course_details_popupBox{
    .detail_description_box{
        // detail_description_left
        .detail_description_left{
            display: inline-block;
            width: 45%;
            .detail_description_top{
                display: inline-block;
                h3{
                    
                }
                h4{
        
                }
                &:nth-child(2){
                    float: right;
                }
            }
        }
        // detail_description_left[e]

        // detail_description_right
        .detail_description_right{
            display: inline-block;
            margin-left: 65px;
            width: 45%;
            .detail_description_top{
                display: inline-block;
                &:nth-child(2){
                    float: right;
                }
            }
            .detail_description_bottom{
                h3{}
                .detail_bottom_list{
                    h4{
                        display: inline-block;
                    }
                }
            }
        }
        // detail_description_right[e]
    }
}
// course_details_popupBox[e]




.btn_box{
    text-align: center;
    button{
        color: #666666;
        font-size: 18px;
        font-weight: 700;
    }
}