.tableday_title{
    .tableday_title_left{
        display: inline-block;
        h1{
            font-size: 20px;
            font-weight: 400;
        }
    }
    .tableday_title_right{
        float: right;
        h2{
            color: #333;
            font-size: 14px;
            font-weight: 400;
            em{
                margin-left: 10px;
                color: #0d52a7;
                font-size: 20px;
                font-weight: 700;
            } 
        }
    }
}

.my_classes_table2{
    thead{
        tr{
            th{
                font-size: 15px;
            }
        }
    }
    tbody{
        td{
            font-size: 14px;
        }
        td:nth-child(1),
        td:nth-child(2),
        td:nth-child(3){
            color: #666666;
        }
        td:nth-child(3),
        td:nth-child(4){
            color: #333;
        }
    }
}

.btn_box{
    margin-top: 40px;
}