.add_class_popup{
    box-sizing: border-box;
    h2{
        margin-bottom: 15px;
        font-size: 18px;
        img{
            margin-bottom: 10px;
        }
    }
    input{
        margin-bottom: 30px;
        padding: 10px;
        width: 100%;
        box-sizing: border-box;
        border: 1px solid #e9e9e9;
    }
    select{
        margin-bottom: 30px;
        width: 100%;
        padding: 10px;
        border: 1px solid #e9e9e9;
    }
    // addclass_main_box
    .addclass_main_box{
        .addclass_box_left{
            display: inline-block;
            h2{
                margin-bottom: 15px;
                font-size: 18px;
                img{
                    margin-bottom: 10px;
                }
            }
            input[type=date]{
                padding: 10px;
                width: 212px;
            }
        }
        .addclass_box_right{
            display: inline-block;
            margin-left: 15px;
            h2{
                margin-bottom: 15px;
                font-size: 18px;
            }
            input{
                width: 200px;
                padding: 12.5px;
            }
        }

        &.kk{
            .addclass_box_left{
                width: 48.5%;
                select{
                    width: 95%;
                    padding: 10px;
                }
            }
            .addclass_box_right{
                width: 48.5%;
            }
        }
        &.cc{
            
        }
 
    }
    // addclass_main_box[e]
}
.addclass_bottom_btn{
    margin-top: 40px;
    margin-bottom: 60px;
    text-align: center;
}
.addclass_dayofweek{
    display: flex;
    box-sizing: border-box;
}

.addclass_week_box{
    position: relative;
    padding: 34px;
    background: #fafafa;
    border-radius: 10px;
    &:not(last-child){
        margin-right: 5px;
    }
}

.blue{
    position: relative;
    border: 2px solid #315f97;
    &::after{
        position: absolute;
        content: '';
        top: 5px;
        right: 10px;
        width: 15px;
        height: 15px;
        background: url(../images/check_blue.png) no-repeat;
    }
}

.addclass_footer_btn{
    text-align: center;
    border-top: 1px solid #ddd;
    button{
        margin: 30px 0;
    }
}