.select_course_box{
    padding: 40px;
    .select_title{
        p{
            font-size: 28px;
            font-weight: 700;
            text-align: center;
        }
    }
    
    .select_list{
        margin: 40px 0;
        text-align: center;
        .select_list_menu{
            display: inline-block;
            padding: 0 40px;
            p{
                margin-bottom: 5px;
                color: #999999;
                font-size: 12px;
            }
            span{
                display: inline-block;
                width: 30px;
                height: 30px;
                line-height: 30px;
                color: #999999;
                font-size: 12px;
                font-weight: 400;
                text-align: center;
                background: #e8e8e8;
                border-radius: 50%;
            }
            &:first-child{
                p{
                    color: #0d52a7;
                }
                span{
                    color: #fff;
                    background: #0d52a7;
                }
                
            }
        }
    }
    // select_bottom
    .select_bottom{
        position: relative;
        padding: 50px 0;
        margin-top: 30px;
        text-align: center;
        border-top: 1px solid #eaeaea;
        button:first-child{
            position: absolute;
            top: 30px;
            left: 0;
            float: left;
        }
        button:nth-child(2){
            position: absolute;
            top: 30px;
            right: 40%;
        }
        button:last-child{
            position: absolute;
            top: 30px;
            right: 0;
            float: right;
        }
    }
    // select_bottom[e]
    
    // select_footer
    .select_footer{
        padding: 15px;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        .select_footer_left{
            display: inline-block;
            margin-right: 30px;
            img{
                display: inline-block;
                margin-right: 10px;
                margin-bottom: 15px;
                width: 30px;
                height: 30px;
            }
            span{
                display: inline-block;
                font-size: 12px;
                font-weight: 500;
            }
        }
        .select_footer_right{
            float: right;
            .select_footer_list{
                float: left;
                &:not(:last-child){
                    padding-right: 40px;
                    border-right: 1px solid #eaeaea;
                }
                &:not(:first-child){
                    padding-right: 30;
                    padding-left: 30px;
                }
                p{
                    margin-bottom: 5px;
                    color: #999999;
                    font-size: 12px;
                }
                h4{
                    font-size: 12px;
                    text-align: center;
                }
            }
        }
    }
    // select_footer[e]
}


///////////////////// confirm_selection_box

    // table
    table{
        &.confirm_selection_box {
            width: 100%;
            border-top: 2px solid black;
            border-collapse: collapse;
            tbody{
                tr{
                    &:nth-child(1){
                        th{
                            p{
                                color: #000;
                            }
                        }
                    }
                    &:nth-child(2){
                        td{
                            padding-left: 20px;
                            color: #666666;
                            font-size: 14px;
                            &:nth-child(2){
                                padding-right: 10px;
                            }
                        }
                    }
                    &:nth-child(3){
                        td{
                            text-align: right;
                            select{
                                width: 80%;
                                margin-right: 20px;
                                padding: 10px;
                            }
                        }
                    }
                    &:nth-child(4){
                        td{
                            padding-right: 20px;
                            text-align: right;
                            font-weight: 700;
                            p{
                                color: #666666;
                                font-size: 15px;
                                font-weight: 400;
                            }
                        }
                    }
                    &:nth-child(5){
                        th{
                            border-bottom: none;
                        }
                        td{
                            padding-right: 20px;
                            font-size: 22px;
                            font-weight: 700;
                            text-align: right;
                            border-bottom: none;
                        }
                    }
                    // th
                    th{
                        padding: 20px;
                        width: 200px;
                        text-align: left;
                        border-bottom: 1px solid #cccccc;
                        p{
                            color: #666666;
                        }
                        h2{
                            color: #333333;
                            font-size: 18px;
                        }
                        h4{
                            margin-bottom: 5px;
                            color: #333333;
                            font-size: 14px;
                            font-weight: 400;
                        }
                        h5{
                            margin-top: 10px;
                            color: #666666;
                            font-size: 15px;
                        }
                        h6{
                            font-size: 12px;
                        }
                    }
                    // th[e]
                    td{
                        border-bottom: 1px solid #cccccc;
                    }
                }
            }
        }
    }
    // table[e]


///////////////////// confirm_selection_box[e]

