
///////////////////////////////////////////////////////////////////////// KETA_SE_002.html
#teacher_search {
    background:#f8f8f8;
}   
.teacher_wrap {
    width: 1280px;
    margin: 0 auto;
    overflow:hidden;
    padding:2rem 0;
}

#teacher_list {
    width:1280px;
    margin:0 auto;
    min-height:1000px;
    .teacher_list_title{
        display: flex;
        justify-content: space-between;
        padding: 25px 0;
        .list_title_left{
            display: flex;
            div{
                margin-right: 25px;
                p{
                    width: 540px;
                    font-size: 24px;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }
            }
            img{
                margin-top: 13px;  
                padding-right: 5px;
                width: 12px;
                height: 14px;
            }
            span{
                margin-top: 7px;
                color: #777777;
            }
        }
        .list_right{
            select{
                padding: 7px 90px 7px 10px;
                option{
                    color: #666666;
                    font-size: 14px;
                }
            }
        }
    }
    .teacher_list_item {
        display:flex;
        .teacher_list_left {
            position: relative;
            min-width:920px;
        }
        .teacher_list_right {
            width:100%;
            margin-left:30px;
            .list_right_item {
                margin-bottom:30px;
                padding: 20px;
                background-color: #ffffff;
                box-shadow: 0px 4px 8px 2px #6f6f6f33;
                &:last-child {
                    margin-bottom:0;
                }
                p{
                    font-size: 20px;
                    font-weight: 700;
                }
                .right_card_middle{
                    padding: 30px 0;
                    border-top: 1px solid #ddd;
                    margin-top: 20px;
                    span{
                        color: #333333;
                        font-size: 15px;
                    }
                    strong{
                        float: right;
                        font-size: 22px;
                    }
                }
                .button_guide{
                    margin: 10px 0;
                    text-align: center;
                    button{
                        padding: 20px 0;
                        width: 100%;
                        font-size: 18px;
                        font-weight: 700;
                    }
                }
            }
        }
    }
}



.resume{
    .resume_name{
        width: 100%;
        background: #ccc;
        padding: 30px;
        text-align: center;
        font-size: 26px;
        font-weight: 500;
        box-sizing: border-box;
    }
    .resume_education{
        display: flex;
        border-bottom: 1px solid black;
        padding: 25px 0;
        .resume_left{
            margin-right: 70px;
        }
        .resume_right{
            display: flex;
            .resume_description{
                &:first-child{
                    margin-right: 60px;
                }
            }
        }
    }
    .resume_workExperience{
        display: flex;
        border-bottom: 1px solid black;
        padding: 25px 0;
        margin-bottom: 40px;
        .resume_left{
            margin-right: 70px;
        }
        .resume_right{
            display: flex;
            .resume_description{
                &:first-child{
                    margin-right: 60px;
                }
            }
        }
    }
    
    .resume_btn{
        text-align: center;
        button{
            padding: 10px 40px;
            border: 1px solid black;
        }
    }
}





///////////////////////////////////////////////////////////////////////// KETA_SE_011.html
.teacher_search_list {
    background:url('../images/visual.png') no-repeat;
    background-size: 100%;
}
.beginner {
    background:#fff;
    padding-bottom: 12rem;
}

.teacher_search_title {
    text-align: center;
    margin-top: 6rem;
    margin-bottom: 60px;

    h2 {
        font-size: 32px;
        color: #fff;
        margin-bottom: 20px;
    }

    p {
        color: #a6a6a5;
    }
}

.teacher_search_box {
    background: #fff;
    margin: 10px;
    outline: none;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.25);
    .lesson_box_top {
        img {
            width: 100%;
        }
    }
    .lesson_box_bottom {
        padding: 25px;
        h3 {
            font-size: 20px;
            font-weight: bold;
            color: #333333;
        }
        p {
            font-size: 14px;
            color: #999999;
            margin-top: 20px;
        }
    }
}

.level_title {
    display:flex;
    .level_title_left {
        width:100%;
        display:flex;
        margin-bottom:10px;
        h3 {
            font-size:28px;
        }
        .see_all {
            font-size:14px;
            font-weight:300;
            color:#777777;
            margin:15px 0 0 10px;
        }
    }
}

.level_box {
    margin: 10px;
    outline: none;
    .level_box_top {
        img {
            width: 100%;
        }
    }
    .level_box_bottom {
        padding: 15px 0;
        h3 {
            font-size: 20px;
            font-weight: bold;
            color: #333333;
            min-height: 110px;
        }
        .level_box_sub {
            display:flex;
            padding-top:10px;
            border-top:1px solid #ddd;
            p {
                display:inline-block;
                width:100%;
                font-size: 14px;
                color: #999999;
            }
            button {
                    border: none;
                    vertical-align: top;
                    width: 26px;
                    height: 24px;
                    overflow: hidden;
            }
            
        }
        
    }
}




.teacher_card {
    .teacher_card_left {
        margin-right:50px;
        .teacher_cicle {
            position: relative;
            width: 135px;
            height: 135px;
            overflow: hidden;
            border-radius: 50%;
            border: 2px solid #0e52a5;
            padding: 10px;
            img {
                position: absolute;
                top: 0;
                left: 0;
                margin-left: -50%;
            }
        }
        &::after {
            content: '';
            background: url('../images/america.png');
            position: absolute;
            width: 40px;
            height: 40px;
            left: 7rem;
            top: 10rem;
        }
    }
    .teacher_card_right {
        vertical-align: top;
        width: 100%;
        position: relative;
        .card_left {
            .card_top {
                h3 {
                    font-size: 32px;
                    font-weight: 700;
                    margin-top: 10px;
                }
                p {
                    font-size: 18px;
                    color: #666666;
                    margin-top: 5px;
                }
            }
            .card_bottom {
                .skill {
                    display: inline-block;
                    margin-top: 20px;
                    p {
                        display: block;
                        font-size: 14px;
                        color: #999999;
                    }
                    span {
                        font-size: 16px;
                        color: #333333;
                    }
                    .skill_bar01 {
                        div {
                            display: inline-block;
                            width: 6px;
                            height: 12px;
                            background: #eaeaea;
                            &:nth-child(-n+1) {
                                background: #75afcd;
                            }
                        }
                    }
                    .skill_bar02 {
                        div {
                            display: inline-block;
                            width: 6px;
                            height: 12px;
                            background: #eaeaea;
                            &:nth-child(-n+2) {
                                background: #75afcd;
                            }
                        }
                    }
                    .skill_bar03 {
                        div {
                            display: inline-block;
                            width: 6px;
                            height: 12px;
                            background: #eaeaea;
                            &:nth-child(-n+3) {
                                background: #75afcd;
                            }
                        }
                    }
                    .skill_bar04 {
                        div {
                            display: inline-block;
                            width: 6px;
                            height: 12px;
                            background: #eaeaea;
                            &:nth-child(-n+4) {
                                background: #75afcd;
                            }
                        }
                    }
                    .skill_bar05 {
                        div {
                            display: inline-block;
                            width: 6px;
                            height: 12px;
                            background: #eaeaea;
                            &:nth-child(-n+5) {
                                background: #75afcd;
                            }
                        }
                    }
                }
            }
        }
        .card_right {
            float: right;
            padding-right: 30px;
        }
    }
}



.wrapper{
    text-align:center;
    margin:50px auto;
    .selector_tabs{
        display:inline-block;
        position:relative;
        margin-bottom:30px;
        li{
            cursor: pointer;
            width:190px;
            padding:10px 0;
            font-weight:700;
            display:inline-block;
            position:relative;
            z-index:1;
            transition-duration:0.6s;
            &.active {
                color:#fff;
            }
        }
        .selector{
            height:100%;
            display:inline-block;
            position:absolute;
            left:0px;
            top:0px;
            z-index:1;
            border-radius:50px;
            transition-duration:0.6s;
            transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
            background: #444444;
        }
    }
}

