.section{
    &.sub2{
        position: relative;
    }
}
.teacher_search_list{
    &.sub2{
        background: url('../images/visual02.png');
    }
    &.sub3{
        position:relative;
        z-index: 0;
        background-image: url('../images/beginner01.png');
        background-repeat: no-repeat;
        background-size: cover;
        &::before {
            content:'';
            position:absolute;
            left:0;
            top:0;
            right:0;
            bottom:0;
            background:rgba(0,0,0,0.7);
        }
    }
    &.sub4{
        background: url('../images/gray_korean_background.png');
    }
    &.sub5{
        height: 500px;
    }
}

.teacher_search_title{
    h2{
        font-size: 68px; 
    }
    h3{
        color: #fff;
        font-size: 24px;
        font-weight: 100;
        opacity: 0.8;
    }
    .teacher_search_bar{
        position: relative;
        label{
            position: absolute;
            top: 32px;
            right: 28%;
        }
        input{
            margin: 20px 0 150px 0;
            width: 555px;
            height: 53px;
            padding: 0 20px;
            font-size: 15px;
            font-weight: 700;
            border: none;
            border-radius: 44px;
        }
    }
    
    h4{
        color: #fff;
        font-size: 34px;
    }
    h5{
        color: #fff;
        font-weight: 100;
        opacity: 0.7;
    }
}



.section_title{
    margin-bottom: 90px;
    text-align: center;
    &.sub{
        margin-top: 110px;
    }
    h1{
        font-size: 38px;
    }
    h2{
        color: #333333;
        font-weight: 400;
    }
    &.sub2{
        h1{
            color: #fff;
        }
        h2{
            color: #fff;
            font-weight: 100;
            opacity: 0.7;
        }
    }
}

.tutor_images{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    margin-bottom: 70px;
    .tutor_images_box{
        position: relative;
        a{
            .tutor_images_description{
                position: absolute;
                padding: 25px;
                bottom: 37px;
                right: 0;
                color: #fff;
                h1{
                    font-size: 26px;
                }
                h2{
                    font-weight: 100;
                }
                &.sub{
                    background: #b94a38;
                }
                &.sub2{
                    bottom: 70px;
                    background: #d99e2d;
                }
                &.sub3{
                    background: #315f97;
                }
            }
        }
        &.sub1{
            margin-top: 35px;
        }
        &.sub3{
            margin-top: 35px;
        }
    }
}

.search_card{
    display: flex;
    justify-content: space-between;
    .search_card_list{
        h1{
            color: #fff;
            font-size: 24px;
        }
        h2{
            color: #fff;
            font-size: 18px;
            font-weight: 100;
            opacity: 0.8;
        }
    }
}

.tutor_intro_left{
    display: inline-block;
    position: absolute;
    z-index: 2;
    h1{
        margin-bottom: 30px;
        font-size: 60px;
        line-height: 55px;
        em{
            margin-right: 10px;
            color: #d99e2d;
            font-size: 42px;
        }
        strong{
            color: #999999;
            font-size: 42px;
        }
    }
    h2{
        color: #666666;
        font-weight: 400;
    }
    
}
.tutor_intro_right{
    display: block;
    position: relative;
    margin-left: 420px;
    z-index: 1;
    img{
        width: 850px;
        height: 480px;
    }
}


.slides__wrapper{
    position: relative;
    width: 100%;
    height: 175px;
    margin: 0 auto;
    overflow: hidden;
    .slides{
        display: flex;
        position: absolute;
        left: 0;
        top: 0;
        transition: left 0.5s ease-out;
        li{
            margin-right: 30px;
            padding: 15px;
            background: #fff;
            border-radius: 5px;
            h1{
                font-size: 14px;
            }
            h2{
                font-size: 12px;
            }
        }
    }
}

.controls{
    text-align: center;
}
.prev__btn,
.next__btn {
    margin: 0 10px;
    padding: 5px 20px;
    border: 2px solid pink;
    border-radius: 5px;
    color: #4d4d4d;
    cursor: pointer;
    background-color: white;
}

.prev__btn:hover,
.next__btn:hover {
    background-color: thistle;
}

