 .mypage{
    //  mypage_date
     .mypage_date{
        display: flex;
        justify-content: space-between;
         .date_box_left{
            display: flex;
            margin-bottom: 15px;
            img{
                margin-right: 10px;
            }
            h2{
                margin-top: 5px;
                font-size: 20px;
            }
         }
         .date_box_right{
             button{
                 &:nth-child(2){
                     margin-left: -4px;
                 }
             }
         }
     }
    //  mypage_date[e]

    //  table 스케쥴 박스 색상
    .orange{
        background: #d99e2d;
    }
    .green{
        background: #208b73;
    }

    //  mypage_contents
     .mypage_contents{
         .tutor_container{
             margin-bottom: 40px;
             &.timetable{
                 table{
                     tbody{
                         tr{
                             td{
                                 div{
                                    padding: 0;
                                    margin: 0;
                                    height: 28px;
                                    color: #fff;
                                    border: 1px solid #eaeaea;
                                    font-size: 15.46px;
                                    border-radius: 0;
                                    text-align: center;
                                 }
                             }
                         }
                     }
                 }
             }
         }
     }
     //  mypage_contents[e]

    //  mypage_bottom_contents
    .mypage_bottom_contents{
        display: flex;
        padding: 25px 15px;
        border-top: 1px solid #999999;
        border-bottom: 1px solid #999999;
        .mypage_contents_left{
            display: flex;
            img{
                margin-right: 15px;
                width: 50px;
                height: 50px;
            }
            p{
                width: 100%;
                font-weight: 700;
            }
        }
        .mypage_contents_right{
            display: flex;
            justify-content: space-around;
            width: 75%;
            .contents_description{
                h2{
                    margin-bottom: 3px;
                    color: #999999;
                    font-weight: 400;
                }
                h3{
                    font-weight: 700;
                }
            }
        }
    }
    //  mypage_bottom_contents[e]
 }

 .mypage_btn{
     margin-top: 40px;
     margin-bottom: 50px;
     text-align: center;
 }