.section{
    &.sub2{
        position: relative;
    }
    &.sub3{
        margin: 70px 0;
    }
}
.teacher_search_list{
    &.sub{
        background: url('../images/page_background.png') no-repeat;
        background-size: cover;
    }
    &.sub2{
        background: url('../images/visual02.png');
        background-repeat: no-repeat;
    }
    &.sub3{
        position:relative;
        z-index: 0;
        background-image: url('../images/page_background2.png');
        background-repeat: no-repeat;
        background-size: cover;
        // &::before {
        //     content:'';
        //     position:absolute;
        //     left:0;
        //     top:0;
        //     right:0;
        //     bottom:0;
        //     background:rgba(0,0,0,0.7);
        // }
    }
    &.sub4{
        position: relative;
        background: url('../images/pattern222222.png');
        background-size: cover;
        background-position: bottom;
        .arrow_box_left{
            position: absolute;
            top: 50%;
            left: 14%;
        }
        .arrow_box_right{
            position: absolute;
            top: 50%;
            right: 14%;
        }
    }
    &.sub5{
        height: 500px;
        background: #fff;
    }
}

.teacher_wrap{
    &.padd{
        padding: 7rem 25px 14rem 25px;
    }
    &.padd2{
        padding: 5rem 0;
    }
}

.teacher_search_title{
    h2{
        font-size: 68px; 
    }
    h3{
        margin-bottom: 20px;
        color: #fff;
        font-size: 24px;
        font-weight: 100;
        opacity: 0.8;
    }
    .teacher_search_bar{
        position: relative;
        label{
            position: absolute;
            top: 36px;
            right: 29%;
        }
        input{
            margin: 20px 0 150px 0;
            width: 555px;
            height: 53px;
            padding: 5px 20px;
            font-size: 15px;
            font-weight: 700;
            border: none;
            border-radius: 44px;
        }
    }
    
    h4{
        margin-bottom: 20px;
        color: #fff;
        font-size: 34px;
        font-weight: 400;
    }
    h5{
        color: #fff;
        font-weight: 100;
        opacity: 0.5;
    }
}



.section_title{
    margin-bottom: 70px;
    text-align: center;
    h1{
        margin-bottom: 20px;
    }
    &.sub{
        margin-top: 110px;
    }
    h1{
        font-size: 38px;
    }
    h2{
        color: #333333;
        font-weight: 400;
    }
    &.sub2{
        margin-bottom: 160px;
        h1{
            color: #fff;
        }
        h2{
            color: #fff;
            font-weight: 100;
            opacity: 0.7;
        }
    }
}

.tutor_images{
    display: flex;
    justify-content: center;
    margin-bottom: 70px;
    .tutor_images_box{
        position: relative;
        img{
            width: 350px;
            height: 530px;
        }
        a{
            .tutor_images_description{
                position: absolute;
                padding: 18px;
                bottom: 37px;
                right: 0;
                color: #fff;
                h1{
                    font-size: 26px;
                }
                h2{
                    font-weight: 100;
                }
                &.sub{
                    background: #b94a38;
                }
                &.sub2{
                    bottom: 70px;
                    background: #d99e2d;
                }
                &.sub3{
                    background: #315f97;
                }
            }
        }
        &.sub1{
            margin-top: 35px;
        }
        &.sub2{
            margin: 0 20px;
        }
        &.sub3{
            margin-top: 35px;
        }
    }
}

.search_card{
    display: flex;
    justify-content: space-between;
    .search_card_list{
        h1{
            margin-top: 30px;
            color: #fff;
            font-size: 24px;
        }
        h2{

            color: #fff;
            font-size: 18px;
            font-weight: 100;
            opacity: 0.8;
        }
    }
}

.tutor_intro_left{
    display: inline-block;
    margin-top: 50px;
    position: absolute;
    z-index: 2;
    h1{
        margin-bottom: 30px;
        font-size: 60px;
        line-height: 55px;
        em{
            margin-right: 10px;
            color: #d99e2d;
            font-size: 42px;
        }
        strong{
            color: #999999;
            font-size: 42px;
        }
    }
    h2{
        color: #666666;
        font-weight: 400;
    }
    
}
.tutor_intro_right{
    display: block;
    position: relative;
    margin-left: 420px;
    z-index: 1;
    img{
        width: 850px;
        height: 480px;
    }
}


.slides__wrapper{
    position: relative;
    width: 100%;
    height: 175px;
    margin: 0 auto;
    overflow: hidden;
    .slides{
        display: flex;
        position: absolute;
        left: 0;
        top: 0;
        transition: left 0.5s ease-out;
        li{
            margin-right: 30px;
            padding: 20px 7px;
            width: 400px;
            background: #f8f8f8;
            border-radius: 5px;
            h1{
                margin-top: 5px;
                margin-bottom: 10px;
                font-size: 22px;
            }
            h2{
                margin-bottom: 20px;
                color: #666666;
                font-size: 16px;
                font-weight: 400;
            }
        }
    }
}

.controls{
    text-align: center;
}
.prev__btn,
.next__btn {
    margin: 0 10px;
    padding: 5px 20px;
    border: 2px solid pink;
    border-radius: 5px;
    color: #4d4d4d;
    cursor: pointer;
    background-color: white;
}

.prev__btn:hover,
.next__btn:hover {
    background-color: thistle;
}

