// modal에 ribbon class를 추가하면 창 끝에 리본이 생깁니다.
.modalpop{
    &.ribbon{
        .popupwrap{
            overflow: initial;
            &::before{
                position: absolute;
                content: '';
                width: 166px;
                height: 166px;
                top: -9px;
                left: -9px;
                background: url(../images/ribbon_icon_1.png);
            }
            &::after{
                position: absolute;
                content: '';
                width: 166px;
                height: 166px;
                bottom: -8px;
                right: -8px;
                background: url(../images/ribbon_icon_2.png);
            }
        }
    }
}

.course_confirm_box{
    padding: 50px;
    .confirm_box_title{
        margin-bottom: 40px;
        text-align: center;
        h2{
            font-size: 28px;
        }
        h4{
            color: #444444;
            font-size: 15px;
            font-weight: 400;
        }
    }
    // course_confirm_main
    .course_confirm_main{
        padding: 30px;
        margin-bottom: 50px;
        border: 1px solid black;
        // course_confirm_card
        .course_confirm_card{
            margin-bottom: 35px;
            .confirm_card_left{
                display: inline-block;
                img{
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    vertical-align: text-bottom;
                }
            }
            .confirm_card_right{
                display: inline-block;
            }
        }
        // course_confirm_card[e]

        // course_confim_detail
        .course_confirm_detail{
            padding: 20px 0;
            border-top: 1px solid #eaeaea;
            &:last-child{
                padding-bottom: 0;
            }
            h2{

            }
            h3{
                margin: 10px 0 15px 0;
                color: #999999;
                font-size: 13px;
                font-weight: 400;
                img{
                    margin-right: 5px;
                }
            }
            h4{
                color: #666666;
                font-size: 14px;
                font-weight: 400;
            }
        }
        // course_confim_detail[e]
    }
    // course_confirm_main[e]

    // course_confirm_bottom
    .course_confirm_bottom{
        margin-bottom: 25px;
        text-align: center;
        h2{
            color: #666666;
            font-size: 18px;
            font-weight: 500;
        }
        h3{
            color: #666666;
            font-size: 15px;
            font-weight: 400;
        }
        h4{
            text-align: right;
        }
    }
    // course_confirm_bottom[e]

    .course_confirm_btn{
        padding-top: 50px;
        border-top: 1px solid #999999;
        text-align: center;
        button{
            &:last-child{
                margin-left: 10px;
            }
        }
    }
}