.mypage_contents{
    // mypage_date
    .mypage_date{
        display: flex;
        justify-content: space-between;
        .date_box_left{
            display: flex;
            img{
                &:nth-child(2){
                    margin-right: 10px;
                }
            }
            h2{
                margin-top: 5px;
                font-size: 20px;
            }
        }
    }
    // mypage_date[e]

    .class_schedule_box{
        padding: 0 10px;
        border-top: 5px solid black;
        border-bottom: 1px solid black;
        table{
            width: 100%;
            thead{
                th{
                    text-align: left;
                }
                .schedule_date{
                    width: 7%;
                }
            }
        }
        tbody{
            tr{
                td{
                    text-align: center;
                    &:not(:nth-child(1)){
                        text-align: center;
                    }
                }
                .chapter_row{
                    width: 10%;
                    text-align: left;
                }
            }
        }
    }
}