.select_course_box{
    padding: 40px;
    .select_title{
        p{
            font-size: 28px;
            font-weight: 700;
            text-align: center;
        }
    }
    
    .select_list{
        margin: 40px 0;
        text-align: center;
        .select_list_menu{
            display: inline-block;
            padding: 0 40px;
            p{
                margin-bottom: 5px;
                color: #999999;
                font-size: 12px;
            }
            span{
                display: inline-block;
                width: 30px;
                height: 30px;
                line-height: 30px;
                color: #999999;
                font-size: 12px;
                font-weight: 400;
                text-align: center;
                background: #e8e8e8;
                border-radius: 50%;
            }
            &:first-child{
                p{
                    color: #0d52a7;
                }
                span{
                    color: #fff;
                    background: #0d52a7;
                }
                
            }
        }
    }
    // select_bottom
    .select_bottom{
        position: relative;
        padding: 50px 0;
        text-align: center;
        border-top: 1px solid #eaeaea;
        button:first-child{
            position: absolute;
            top: 30px;
            left: 0;
            float: left;
        }
        button:nth-child(2){
            position: absolute;
            top: 30px;
            right: 40%;
        }
        button:last-child{
            position: absolute;
            top: 30px;
            right: 0;
            float: right;
        }
    }
    // select_bottom[e]
    
    // select_footer
    .select_footer{
        padding: 15px;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        .select_footer_left{
            display: inline-block;
            margin-right: 30px;
            img{
                display: inline-block;
                margin-right: 10px;
                margin-bottom: 15px;
                width: 30px;
                height: 30px;
            }
            span{
                display: inline-block;
                font-size: 12px;
                font-weight: 500;
            }
        }
        .select_footer_right{
            float: right;
            .select_footer_list{
                float: left;
                &:not(:last-child){
                    padding-right: 40px;
                    border-right: 1px solid #eaeaea;
                }
                &:not(:first-child){
                    padding-right: 30;
                    padding-left: 30px;
                }
                p{
                    margin-bottom: 5px;
                    color: #999999;
                    font-size: 12px;
                }
                h4{
                    font-size: 12px;
                    text-align: center;
                }
            }
        }
    }
    // select_footer[e]
}


///////////////////// select_classTime
.select_classTime{
    .classTime_date{
        padding: 20px 0;
        border-top: 1px solid #eaeaea;
        .classTime_date_left{
            display: inline-block;
            img{
                &:nth-child(1){
                    margin-right: 5px;
                }
            }
            p{
                display: inline-block;
                margin-left: 10px;
                font-size: 20px;
                font-weight: 700;
            }
        }
        .classTime_date_right{
            float: right;
            span{
                margin-right: 10px;
                font-size: 15px;
            }
            span:before{
                display: inline-block;
                margin-right: 5px;
                content: '';
                width: 10px;
                height: 10px;
                background: #cccccc;
                border-radius: 50%;
            }
            span:nth-child(2){
                &:before{
                    background:#75afcd;
                }
            }
            span:nth-child(3){
                &:before{
                    background:#d99e2d;
                }
            }
            &:last-child{
                margin-right: 0;
            }
        }
    }
}
///////////////////// select_classTime[e]

