$primary-color : #de9d22;
$blue-color : #0d52a7;
$green-color : #208b73;
$red-color : #d1452e;
$gray-color : #dbdbdb;
$deep-gray-color:#444444;

@mixin footer_select {
    width: 130px;
    padding: 8px;
    color: #fff;
    border: 1px solid #fff;
    background: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}


@mixin input100 {
    border: 1px solid #bebebe;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}


///////////////////////////////////////////////////////////////////////// 기본 틀
.wrap {
    width: 1280px;
    margin: 0 auto;
    padding: 6rem 0;
    min-height: 700px;
    overflow:hidden;
    &.padding10 {
        padding-top:1.5rem;
    }
    &.padding0 {
        padding:0;
        min-height:auto;
    }
}

.flex {
    display:flex;
}



///////////////////////////////////////////////////////////////////////// 헤더
#header {
    position: relative;
    width: 100%;
    z-index: 3;
    &.border {
        border-bottom:1px solid #eaeaea;
    }
    #gnb {
        width: 1280px;
        margin: 0 auto;
        display: flex;
        padding: 15px 0;
        // 로고
        h1 {
            display: inline-block;
            margin-right: 30px;
        }
        ul {
            display: inline-block;
            vertical-align: top;
            margin-left: auto;
            li {
                display: inline-block;
                vertical-align: middle;
                font-weight: bold;
                font-size:15px;
            }
        }
        .gnb_menu {
            li {
                &:nth-child(2) {
                    margin: 0 35px;
                }
            }
        }
        .gnb_left {
            ul {
                li {
                    margin-right:40px;
                }
            }
        }
        .gnb_right {
            float: right;
            li {
                color:#666666;
                margin-right:8px;
                cursor: pointer;
                &:first-child {
                    margin-right:15px;
                }
                &:last-child {
                    margin-right:0px;
                }
                a {
                    padding:5px 15px; 
                    border-radius: 20px;
                    font-size:14px;
                    span {
                        vertical-align: top;
                    }
                }
            }
        }
    }
}

///////////////////////////////////////////////////////////////////////// 필터 옵션
.box_component_wrap {
    border-bottom: 1px solid #eaeaea;
    z-index: 3;
    background:#315f97;
    .box_component {
        width:1280px;
        margin:0 auto;
        padding:18px 0;
        ul {
            display:inline-block;
            li {
                display:inline-block;
                &:last-child {
                    margin-right:0;
                }
                .popup-wrap {
                    &.popup-closed {
                        button {
                            color:#b4b4b4;
                        }
                    }
                }
                button {
                    padding:10px 0;
                    font-size:14px;
                    color:#fff;
                    border:none;
                    img {
                        margin-right:5px;
                    }
                    &::after {
                        content:"";
                        display:inline-block;
                        width:2px;
                        height:20px;
                        margin:0 15px;
                        background:#466fa1;
                        vertical-align: middle;
                    }
                }
            }
        }
    }  
}


///////////////////////////////////////////////////////////////////////// 필터 옵션 레이어팝업
 .popup-wrap {
    position: relative;
    .popup-box-styles {
        position: absolute;
        left: 0;
        top: 3em;
        z-index: 999999;
        padding: 1em;
        text-align: left;
        background-color: #fff;
        color: #000;
        box-shadow: 0px 4px 8px 2px #6f6f6f33;
    }
    .filter {
         display:flex;
        overflow:hidden;
    }
    [aria-hidden=true] {
        display: none;
    }
}


.popup-box-styles {
    .filter_title {
        margin-bottom:10px;
        h3 {
            display:inline-block;
            font-size:16px;
        }
        p {
            float:right;
            font-size:13px;
            color:#bbbbbb;
            margin-top:6px;
            span {
                color:#999999;
            }
        }
        img {
            margin-left:5px;
            cursor: pointer;
            vertical-align: top;
        }
    }
    .filter {
        //purpose box
        .filter_box {
            display: inline-block;
            text-align: center;
            padding: 20px;
            width:120px;
            margin:10px;
            border: 1px solid #999999;
            cursor: pointer;
            img {
                margin-bottom:10px;
            }
            p {
                font-size:14px;
            }
            &.selected {
                font-weight:bold;
                color:$blue-color;
                border:1px solid $blue-color;
            }
        }
        .days {
            width:100%;
            ul {
                li {
                    width:9%;
                    text-align:center;
                    padding:10px 20px;
                    border:1px solid #ddd;
                    float:left;
                }
            }
        }
    }
}




///////////////////////////////////////////////////////////////////////// KETA_MY
.lnb {
    width:220px;
    display:inline-block;
    h3 {
        position: relative;
        font-size:26px;
        font-weight:bold;
        color:#b14248;
        margin-bottom: 20px;
        padding-bottom: 20px;
        border-bottom: 5px solid;
        border-image: linear-gradient(to right, #b14248 0%, #bd6d33 100%);
        border-image-slice: 1;
        &::after {
            content:'';
            position: absolute;
            top: 15px;
            right: 0;
            width: 10px;
            border-radius: 50%;
            height: 10px;
            background: #bd6d33;
        }
    }
    .lnb-menu {
        > li {
            width:100%;
            border-bottom:1px solid #eaebec;
            > a {
                font-size:15px;
                color:#000;
                display:block;
                padding:20px 0;
                &.active {
                    color:#b14248;
                }
            }
            .lnb-depth03 {
                display:none;
                padding:10px;
                li {
                    margin-bottom:15px;
                    a {
                        display:block;
                        position:relative;
                        padding:0 25px;
                        font-size:13px;
                        color:#666666;
                        &.active, &:hover {
                            color:#b14248;
                        }
                    }
                }
            }
            &.active {
                > a {
                    color:#b14248;
                    font-weight:bold;
                    border:none;background:url("../images/lnb_plus.png") no-repeat right center;
                }
            }
        }
    }
}

///////////////////////////////////////////////////////////////////////// timetable
.timetable{
    table{
        width: 100%;
        border-top: 1px solid #dddddd;
        border-bottom: 1px solid #dddddd;
        border-collapse: collapse;
        thead{
            th{
                color: #666666;
                font-size: 13px;
                font-weight: 300;
                padding:5px;
                border-bottom:1px solid #dddddd;
            }
        }
            tbody{
                tr{
                    td {
                            vertical-align: middle;
                        div{
                            background: #f2f2f2;
                            margin:5px;
                            padding: 15px 40px;
                            border-radius: 3px;
                            &.blue {
                                background: #75afcd;
                            }
                        }
                        &:first-child{
                            color: #666666;
                            font-size: 15px;
                        }
                    }
                }
            }
        }
}


///////////////////////////////////////////////////////////////////////// footer
#footer {
    width: 100%;
    height: auto;
    background-color: #1b2023;
    #footer_wrap {
        position: relative;
        width: 1280px;
        margin: 0 auto;
        padding: 50px 0;
        .footer_info {
            display: inline-block;
            ul {
                display: inline-block;
                vertical-align: top;
                margin-right: 60px;
                font-size: 14px;
                li {
                    color: #fff;
                    margin: 10px 0;
                    &:first-child {
                        margin-top: 0;
                        margin-bottom: 30px;
                        font-weight: 700;
                    }
                    a {
                        color: #737373;
                    }
                }
                &:last-child {
                    li {
                        color: $primary-color;
                    }
                }
            }
        }
        .footer_right {
            float: right;
            color: #fff;
            .footer_select {
                text-align: right;
                margin-bottom: 20px;
                span {
                    margin-right:20px;
                }
                select {
                    @include footer_select;
                    option {
                        color:#000;
                    }
                }
            }
            .footer_sns {
                padding-top: 20px;
                color: #fff;
            }
        }
    }
    .footer_bottom {
        border-top: 1px solid #323739;
        color: #777777;
        font-size:14px;
        .footer_wrap {
            position: relative;
            width: 1280px;
            margin: 0 auto;
            padding: 30px 0;

            div {
                display: inline-block;
                &.footer_bottom_left {
                    img {
                        margin-right:15px;
                    }
                }
                &.footer_bottom_right {
                    float: right;
                }
            }
        }
    }

}





/* popup */
.modalpop {
    display:none;
    
    .popupwrap {
        position:fixed;
        left:-99999px; top:-99999px;
        z-index:101;
        overflow:hidden;
        background:#fff;
        opacity:0;
        &.pop-alert {
            width:800px;
            .txt-msg {
                margin:0;
                text-align:left;
            }
        }
        .btn-popclose {
            position:absolute;
            top:15px;
            right:20px;
            width:20px;
            height:20px;
            background:url('../images/icon_layerclose.png') no-repeat 50%;
            font-size:0;
            text-indent:-99999px;
            border:none;
        }
        h1 {
            height:50px;
            padding:0 20px;
            text-align:left;
            background:#1f59b9;
            color:#fff;
            font-size:16px;
            line-height:50px;
            font-weight:bold;
        }
        .popcontents {
            clear:both;
            overflow:hidden;
            width:100%;
            padding:20px 20px 30px 20px;
        }
    }
}
.transparents-layer {
    position:fixed;
    left:0;
    top:0;
    z-index:100;
    width:100%;
    height:100%;
    background:#000;
    opacity:0.5;
    filter:alpha(opacity="50");
}