$primary-color : #de9d22;
$blue-color : #0d52a7;
$green-color : #208b73;
$red-color : #d1452e;
$gray-color : #dbdbdb;
$deep-gray-color:#444444;

@mixin footer_select {
    width: 130px;
    padding: 8px;
    color: #fff;
    border: 1px solid #fff;
    background: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

// 헤더
#header {
    position: relative;
    width: 100%;
    z-index: 3;
    &.border {
        border-bottom:1px solid #eaeaea;
    }
    #gnb {
        width: 1280px;
        margin: 0 auto;
        display: flex;
        padding: 15px 0;
        // 로고
        h1 {
            display: inline-block;
            margin-right: 30px;
        }
        ul {
            display: inline-block;
            vertical-align: top;
            margin-left: auto;
            li {
                display: inline-block;
                vertical-align: middle;
                font-weight: bold;
                font-size:15px;
            }
        }
        .gnb_menu {
            li {
                &:nth-child(2) {
                    margin: 0 35px;
                }
            }
        }
        .gnb_left {
            ul {
                li {
                    margin-right:40px;
                }
            }
        }
        .gnb_right {
            float: right;
            li {
                margin-right:8px;
                cursor: pointer;
                &:first-child {
                    margin-right:15px;
                }
                &:last-child {
                    margin-right:0px;
                }
                a {
                    padding:5px 15px; 
                    border-radius: 20px;
                    font-size:14px;
                    span {
                        vertical-align: top;
                    }
                }
            }
        }
    }
}

// 필터 옵션
.box_component_wrap {
    border-bottom: 1px solid #eaeaea;
    z-index: 3;
    .box_component {
        width:1280px;
        margin:0 auto;
        padding:18px 0;
        ul {
            display: inline-block;
            li {
                display:inline-block;
                margin-right:10px;
                &:last-child {
                    margin-right:0;
                }
                button {
                    padding:10px 20px;
                    color:#666666;
                    border:1px solid #eaeaea;
                    border-radius:30px;
                    img {
                        margin-right:5px;
                    }
                }
            }
        }
        // 검색창 기능 [s]
        .main_sb_search{

            .sb-search{
                position: absolute;
                top: 63px;
                right: 16.4%;
                width: 0%;
                min-width: 60px;
                height: 78px;
                float: right;
                overflow: hidden;
                -webkit-transition: width 0.3s;
                -moz-transition: width 0.3s;
                transition: width 0.3s;
                -webkit-backface-visibility: hidden;
                &.sb-search-open {
                    position: absolute;
                    top: 63px;
                    right: 16.4%;
                    width: 21px;
                    width:23%;
                    border-right: 1px solid #eaeaea;
                    border-left: 1px solid #eaeaea;
                }
                form {
                    .sb-search-input {
                        position: absolute;
                        top: 0;
                        right: 0px;
                        border: none;
                        outline: none;
                        background: #fff;
                        width: 77%;
                        height: 36px;
                        margin: 0;
                        z-index: 10;
                        padding: 20px 65px 20px 20px;
                        font-family: inherit;
                        font-size: 20px;
                        color: #2c3e50;
                        border:none;
                    }
                    input[type="search"].sb-search-input {
                        -webkit-appearance: none;
                        -webkit-border-radius: 0px;
                    }
                    .sb-search-input::-webkit-input-placeholder {
                        color: #efb480;
                    }
                    .sb-search-input:-moz-placeholder {
                        color: #efb480;
                    }
                    .sb-search-input::-moz-placeholder {
                        color: #efb480;
                    }
            
                    .sb-search-input:-ms-input-placeholder {
                        color: #efb480;
                    }
                    .sb-icon-search,
                    .sb-search-submit {
                    width: 60px;
                    height: 78px;
                    display: block;
                    position: absolute;
                    right: 0;
                    top: 0;
                    padding: 0;
                    margin: 0;
                    line-height: 60px;
                    text-align: center;
                    cursor: pointer;
                    }
                    .sb-search-submit {
                        background: #fff;
                        /* IE needs this */
                        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
                        /* IE 8 */
                        filter: alpha(opacity=0);
                        /* IE 5-7 */
                        opacity: 0;
                        color: transparent;
                        color: red;
                        border: none;
                        outline: none;
                        z-index: -1;
                    }
                    .sb-icon-search {
                        color: #000;
                        background:  #fff;
                        z-index: 90;
                        font-size: 22px;
                        font-family: 'icomoon';
                        speak: none;
                        font-style: normal;
                        font-weight: normal;
                        font-variant: normal;
                        text-transform: none;
                        -webkit-font-smoothing: antialiased;
                        background: url('/images/search_cancle_btn.png') no-repeat;
                        background-position: center;
                    }
                    .sb-icon-search:before {
                        content: "";
                    }
                    .sb-search.sb-search-open .sb-icon-search,
                    .no-js .sb-search .sb-icon-search {
                    background: #da6d0d;
                    color: #fff;
                    z-index: 11;
                    }
                    input{
                        &:first-child{
                            &::placeholder{
                                color: #b0b0b0;
                                font-size: 20px;
                            }
                        }
                    }
                }
            }
        }
        // 검색창 기능 [e]
    }  
}

// 메인
#main {
    display:flex;
    min-height: 1000px;
    .main_left {
        min-width:1215px;
        background:#254e80;
        overflow:hidden;
        .main_left_contents {
            width:calc(100% - 310px);
            height:100%;
            float:right;
            padding:50px 0;
            a{
                margin: 40px 0;
            }
            p{
                color: #739ad1;
                font-size: 14px;
            }
            h2{
                color: #fff;
                font-size: 58px;
            }
            h3{
                color: #fff;
                font-size: 40px;
            }
            .main_left_contents_notification{
                display: inline-block;
                position: relative;
                width: 92.6%;
                p{
                    margin-bottom: 0;
                }
                p:nth-child(1){
                    display: inline-block;
                    margin: 60px 10px 30px 0;
                    color: #daa847;
                    font-size: 15px;
                }
                p:nth-child(3){
                    display: inline-block;
                    color: #fff;
                    line-height: 25px;
                }
                .notification_date{
                    float: right;
                }
                .notification_line{
                    display: inline-block;
                    width: 87%;
                    border: 1px solid white;
                    vertical-align: middle;
                    opacity: 0.2;
                }
            }
        }
    }
    .main_right {
        background:#ccc;
        width:100%;
        padding:50px;
        
        div > a{
            margin-right: 14px;
        }
        div {
            h1{
                margin-bottom: 15px;
                font-size: 24px;
                margin-top: 40px;

            }
            &:first-child{
                h1 {
                    margin-top:0;
                }  
              }
        }
        
        // main_my_class
        .main_my_class{
            .class_img{
                display: flex;
                position: relative;
                overflow: hidden;
                .class_time{
                    position: absolute;
                    top: 0;
                    margin-top: 9px;
                    color: #fff;
                    font-size: 11px;
                    border: none;
                    background: #2f66aa;
                    p{
                        padding: 4px 4px 4px 11px;
                        opacity: 0.8;
                        img{
                            margin-bottom: 2px;
                        }
                    }
                }
                .class_description{
                    position: absolute;
                    margin-left: 17px;
                    bottom: 25px;
                    p:first-child{
                        color: #fff;
                    }
                    p:last-child{
                        color: #fff;
                        font-size: 13px;
                        opacity: 0.5 ;
                    }
                }
            }
        }
        // main_my_class //

        // main_program
        .main_program{
            .program_img{
                display: flex;
                .main_program_img {
                    background:#fff;
                    margin-right: 10px;
                    .program_img_top {
                        img {
                            width:100%;
                        }
                    }
                    .program_description {
                        padding:10px;
                        h3{
                            color: #333333;
                            font-size: 17px;
                            margin-bottom: 10px;
                        }
                        p{
                            color: #777777;
                            font-size: 14px;
                            margin-bottom: 10px;
                        }
                        p:last-child{
                            color: #2f66aa;
                            font-size: 13px;
                            font-weight: 700;
                        }
                    }
                }
                .main_program_img:last-child{
                    .program_img_top{
                        img{
                            height: 186.22px;
                        }
                    }
                }
            }
        }
        // main_program //

        //main_information
        .main_information{
            .main_info_top{
                h1{
                    display: inline-block;
                    margin-right: 140px;
                }
                img{
                    margin-left: 11px;
                    vertical-align: initial;
                }
            }
            .information_description{ 
                .info_card{
                    display: inline-block;
                    padding: 35px;
                    background: #bf5b4a;
                    border-radius: 8px;
                    span{
                        padding-right: 102px;
                        color: #fff;
                    }
                }
                // &:nth-child(2){
                //     background: #dca741;
                // }
                .info_card_2{
                    display: inline-block;
                    padding: 35px;
                    background: #dca741;
                    border-radius: 8px;
                    span{
                        padding-right: 102px;
                        color: #fff;
                    }
                }
            }
        }
    }
}

// 선생님
#teacher {
    display:flex;
    width:1280px;
    margin:0 auto;
    min-height:1000px;
    padding:50px 0;
    .teacher_left {
        background:#ddd;
        min-width:920px;
    }
    .teacher_right {
        background:#ccc;
        width:100%;
        margin-left:30px;
    }
}


// 푸터
#footer {
    width: 100%;
    height: auto;
    background-color: #1b2023;
    #footer_wrap {
        position: relative;
        width: 1280px;
        margin: 0 auto;
        padding: 50px 0;
        // 사이트 맵 ul
        .footer_info {
            display: inline-block;
            ul {
                display: inline-block;
                vertical-align: top;
                margin-right: 60px;
                font-size: 14px;
                li {
                    color: #fff;
                    margin: 10px 0;
                    &:first-child {
                        margin-top: 0;
                        margin-bottom: 30px;
                        font-weight: 700;
                    }
                    a {
                        color: #737373;
                    }
                }
                &:last-child {
                    li {
                        color: $primary-color;
                    }
                }
            }
        }
        // 언어,통화
        .footer_right {
            float: right;
            color: #fff;
            .footer_select {
                text-align: right;
                margin-bottom: 20px;
                span {
                    margin-right:20px;
                }
                select {
                    @include footer_select;
                    option {
                        color:#000;
                    }
                }
            }
            .footer_sns {
                padding-top: 20px;
                color: #fff;
            }
        }
    }
    // 카피라이트
    .footer_bottom {
        border-top: 1px solid #323739;
        color: #777777;
        font-size:14px;
        .footer_wrap {
            position: relative;
            width: 1280px;
            margin: 0 auto;
            padding: 30px 0;

            div {
                display: inline-block;
                &.footer_bottom_left {
                    img {
                        margin-right:15px;
                    }
                }
                &.footer_bottom_right {
                    float: right;
                }
            }
        }
    }

}

