
///////////////////////////////////////////////////////////////////////// 모달 창
.modalpop {
    display:none;
    .popupwrap {
        position:fixed;
        left:-99999px; top:-99999px;
        z-index:101;
        overflow:hidden;
        background:#fff;
        opacity:0;
        &.sm_popup {
            width:500px;
        }
        &.md_popup {
            width:1000px;
        }
        &.lg_popup {
            width:1200px;
        }
        .popcontents {
            clear:both;
            overflow:hidden;
            border-top:10px solid #aa3238;
            .popup_contents{
                padding: 20px;
            }
        }
    }
}

///////////////////////////////////////////////////////////////////////// 모달 타이틀
.popup_title {
    padding:50px 0 30px 0;
    text-align:center;
    > p {
        font-size:28px;
        font-weight:700;
        color:#222222;
    }
}


///////////////////////////////////////////////////////////////////////// 모달창 백그라운드
.transparents-layer {
    position:fixed;
    left:0;
    top:0;
    z-index:100;
    width:100%;
    height:100%;
    background:#000;
    opacity:0.5;
    filter:alpha(opacity="50");
}

///////////////////////////////////////////////////////////////////////// 스크롤 박스
.scroll_box {
    height:520px;
    overflow-x: hidden;
    padding:0 50px 50px 50px;
    > p {
        display: inline-block;
        color: #333333;
        font-size: 18px;
        margin-bottom:10px;
    }
}

/////////////////////////////////////////////////////////////////////////  modal에 ribbon class를 추가하면 창 끝에 리본이 생깁니다.
.modalpop{
    &.ribbon{
        .popupwrap{
            overflow: initial;
            .popcontents {
                &::before{
                    position: absolute;
                    content: '';
                    width: 166px;
                    height: 166px;
                    top: -9px;
                    left: -9px;
                    background: url(../images/ribbon_icon_1.png);
                }
                &::after{
                    position: absolute;
                    content: '';
                    width: 166px;
                    height: 166px;
                    bottom: -8px;
                    right: -8px;
                    background: url(../images/ribbon_icon_2.png);
                }
            }
        }
    }
}

.modal_bottom_btn {
    margin:30px 0;
    text-align:center;
    > button {
        width:140px;
        font-size:18px;
        color:#666666;
        padding:10px 0;
    }
}