$primary-color : #6071cd;
$sub-color : #ff3a96;
$blue-color : #5267d5;
$blue02-color:#485cc7;
$green-color : #208b73;
$red-color : #d1452e;
$orange-color : #ffa813;
$gray-color : #111111;
$gray02-color:#222222;
$gray03-color:#333333;
$gray04-color:#444444;
$gray06-color:#666666;
$gray09-color:#999999;

@mixin select {
    padding:10px;
    font-size:14px;
    color:$gray06-color;
    border:1px solid #e9e9e9;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
@mixin inputText {
    padding:10px;
    font-size:14px;
    color:$gray06-color;
    border:1px solid #e9e9e9;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}



/////////////////////////////////////////////////////////////////////////  LNB
.lnb {
    width: 250px;
    display: inline-block;
    .lnb-menu {
        background: #485cc7;
        border-radius: 10px;
        >li {
            width: 100%;
            border-radius: 10px 10px 0 0;
            border-bottom: 1px solid #374cb7;
            color: #fff;
            > a {
                display: block;
                font-size: 14px;
                color: #ffffff;
                padding: 15px 20px;
                &.active {
                    color:$orange-color;
                }
                img {
                    margin-top:8px;
                    float:right;
                }
            }
            &.active {
                background: #374cb7;
            }
            &:last-child {
                border-radius: 0 0 10px 10px;
            }
            .lnb-depth03 {
                display: none;
                padding: 0 10px;

                li {
                    margin-bottom: 15px;

                    a {
                        display: block;
                        position: relative;
                        padding:0 30px;
                        font-size: 13px;
                        color: #fff;
                        &.active,
                        &:hover {
                            font-weight:500;
                            color:$orange-color;
                        }
                    }
                }
            }

            &.active {
                > a {
                    color: $orange-color;
                    font-weight: bold;
                    border: none;
                    img {
                        display:none;
                    }
                }
            }
            &.menu_sub {
                > a {
                    background: url("../images/lnb_minus.png") no-repeat right 20px center;
                }
            }
            &.sub {
                border:none;
                &.mt50 {
                    margin-top:30px;
                }
                a {
                    display:table;
                    width:100%;
                    margin:10px 0;
                    padding:10px 20px;
                    font-size:14px;
                    color:#505985;
                    border:1px solid #eaeaea;
                    border-radius: 10px;
                    box-sizing: border-box;
                    div {
                        &:first-child {
                            display:table-cell;
                            width:30px;
                            vertical-align: middle;
                        }
                        img {
                            width:16px;
                            height:16px;
                            vertical-align: top;
                            margin-top: 3px;
                        }
                    }
                }
            }
            > img {
                margin-top:40px;
            }
        }
    }
}
.lnb-menu-sub {
    background:#fff;
    margin-top:30px;
    border-radius: 10px;
    box-shadow: 0px 0px 6px 1px #6f6f6f17;
    li {
        a {
            padding:20px;
            font-size: 14px;
            color:$blue-color;
        }
        &+li {
            border-top:1px solid #eaebec;
        }
        img {
            align-self: center;
        }
    }
}

///////////////////////////////////////////////////////////////////////// 마이페이지 레이아웃
.mypage {
    width: calc(100% - 290px);
    margin-left: 50px;
}

///////////////////////////////////////////////////////////////////////// 프로필 사진
.lnb_user {
    margin-bottom:30px;
    > div {
        display:inline-block;
        vertical-align: top;
        &:last-child {
            float:right;
        }
        > h3 {
            font-size:16px;
            font-weight:700;
            color:$primary-color;
        }
        > p {
            font-size:13px;
            color:$gray06-color;
        }
    }
    .card_img_sm {
        margin-right:10px;
    }
    .lnb_user_change {
        background:url(../images/icon_change.png) no-repeat;
        width:24px;
        height:25px;
        margin-top:10px;
    }
}
.card_img_sm {
    background: url(../images/user_icon_sm.png) no-repeat left top;
    background-size: cover;
    width: 46px;
    height: 46px;
    text-decoration: none;
    position: relative;
    span {
        width: 46px;
        height: 46px;
        border-radius: 50%;
        position: absolute;
        background: url(../images/teacher01.png) center center/cover no-repeat;
        left: 0;
        overflow: hidden;
        border: 1px solid #e1e1e1;
    }
}
.card_img_md {
    background: url(../images/user_icon.png) no-repeat left top;
    background-size: cover;
    width: 68px;
    height: 68px;
    text-decoration: none;
    position: relative;
    span {
        width: 68px;
        height: 68px;
        border-radius: 50%;
        position: absolute;
        background: url(../images/teacher01.png) center center/cover no-repeat;
        left: 0;
        overflow: hidden;
        border: 1px solid #e1e1e1;
    }
    &::after {
        content: '';
        background: url(../images/korea.png) no-repeat;
        background-size:30px;
        width: 30px;
        height: 30px;
        position: absolute;
        right: -17px;
        bottom: -5px;
    }
}
.card_img_lg {
    background: url(../images/user_icon.png) no-repeat left top;
    background-size: cover;
    width: 105px;
    height: 105px;
    text-decoration: none;
    position: relative;
    span {
        width: 105px;
        height: 105px;
        border-radius: 50%;
        position: absolute;
        background: url(../images/teacher01.png) center center/cover no-repeat;
        left: 0;
        overflow: hidden;
        border: 1px solid #e1e1e1;
    }
}

///////////////////////////////////////////////////////////////////////// 마이페이지 타이틀
.my_tit {
    margin-bottom:35px;
    .tit {
        h3 {
            display:inline-block;
            font-size:28px;
            color:$gray02-color;
            strong {
                color:$blue-color;
            }
        }
        span {
            margin-left:10px;
            padding:1px 10px;
            vertical-align: inherit;
        }
    }
    .arrow {
        .prev {
            background:url(../images/icon_top_prev.png) no-repeat;
            width:41px;
            height:41px;
            margin-right:10px;
        }
        .next {
            background:url(../images/icon_top_next.png) no-repeat;
            width:41px;
            height:41px;
        }
    }
}
.my_tit_sub {
    h3 {
        display:inline-block;
        margin-bottom:15px;
        font-size:20px;
        color:$gray02-color;
    }
    span {
        display:inline-block;
        margin-left:5px;
        font-size:16px;
        color:$gray06-color;
    }
}

///////////////////////////////////////////////////////////////////////// 카테고리
.cate {
    ul {
        li {
            display:inline-block;
            a {
                font-size:14px;
                color:#bbbbbb;
                margin-top:10px;
            }
            
            &::after {
                content:'/';
                display:inline-block;
                font-size:11px;
                color:#bbbbbb;
                margin:0 5px;
            }
            &:last-child {
                a {
                    color:$gray09-color;
                }
                &::after {
                    content:'';
                }
            }
        }
    }
}

///////////////////////////////////////////////////////////////////////// 마이페이지 타이틀 탭
.my_tab {
    margin-bottom:50px;
    > div {
        position:relative;
        width: 100%;
        padding: 20px;
        font-size:16px;
        color:$gray09-color;
        text-align: center;
        border: 1px solid #ddd;
        border-bottom: 0;
        border-radius: 10px 10px 0 0;
        cursor: pointer;
        > em {
            font-style:normal;
            font-size:20px;
            font-weight:700;
            margin-left:15px;
        }
        > img {
            display:none;
            margin-right:15px;
        }
        &.active {
            font-weight:700;
            color:$sub-color;
            border:2px solid $sub-color;
            border-bottom:0;
            > img {
                display:inline-block;
            }
        }
        &.alarm {
            &::after {
                position: absolute;
                content:'';
                width:7px;
                height:7px;
                border-radius: 30px;
                background:$sub-color;
                top:10px;
                right:10px;
            }
        }
    }
}

.pop_wrap {
    .pop_top {
        background: $blue02-color;
        padding: 30px 50px;
        span {
            font-size: 28px;
            font-weight:700;
            color: #fff;
        }
        > a {
            margin-top:5px;
        }
    }
    .pop_box {
        max-height:550px;
        overflow-y: scroll;
        .pop_con {
            padding: 30px 50px;
            p {
                font-size:18px;
                font-weight:700;
                color:$gray-color;
                em {
                    font-size:24px;
                    color:$blue02-color;
                }
                & + select {
                    margin-top:15px;
                }
                & + input[type="text"] {
                    margin-top:15px;
                }
            }
            select {
                @include select;
                & + .w100 {
                    margin-top:10px;
                }
            }
            input[type="text"] {
                @include inputText;
                & + .w100 {
                    margin-top:10px;
                }
            }
            .pop_sub {
                &:first-child{
                    flex: 6;
                    margin-right:50px;
                }
                &:last-child {
                    flex:4;
                }
            }
            .pop_sub_ta {
                &:first-child{
                    flex: 5;
                }
                &:nth-child(2) {
                    margin: 0 20px;
                    align-self: center;
                    button {
                        display:block;
                        margin:10px 0;
                    }
                }
                &:last-child {
                    flex:5;
                }
                > h5 {
                    margin-bottom:15px;
                    font-size:16px;
                    font-weight:500;
                    color:$gray03-color;
                }
                > table {
                    > tbody {
                        > td {
                            padding:20px 0;
                        }
                    }
                }
            }
            .pop_search {
                background:#f8f9ff;
                margin-top:15px;
                padding:30px;
                text-align:center;
                border:1px solid #eaeaea;
                > select {
                    min-width:150px;
                    & + select {
                        margin-left:5px;
                    }
                }
                > input[type="text"] {
                    width:220px;
                    margin-left:5px;
                }
                > button {
                    padding:5px 15px;
                    margin-left:10px;
                    font-size:14px;
                    > img {
                        vertical-align: top;
                        margin:2px 5px 0 0;
                    }
                }
            }
        }
    }
    .pop_btm {
        padding:30px 0;
        margin:30px 50px;
        text-align:center;
        border-top:1px solid #dddddd;
        > button {
            width:200px;
            padding:10px;
            font-size:18px;
            text-align:center;
            & + button {
                margin-left:10px;
            }
        }
    }
}

///////////////////////////////////////////////////////////////////////// 시험 팝업
.exam_wrap {
    padding:30px 35px;
    border-radius: 10px;
    background:#f3f3f3;
}
.exam_pop_top {
    margin-bottom:30px;
    > .pop_tit {
        font-size:26px;
        font-weight:700;
        color:$gray02-color;
        margin-top:8px;
        img {
            margin-right:10px;
            vertical-align: inherit;
        }
    }
}
.exam_pop_con {
    max-height:540px;
    overflow-y: scroll;
    border-radius: 10px;
    background:#fff;
    box-shadow: 0px 4px 5px -1px #6f6f6f33;
    > .pop_con {
        position:relative;
        margin:40px;
        border:1px solid #eaeaea;
        border-radius: 10px;
        .pop_con_top {
            display:flex;
            padding:35px 50px;
            border-radius: 10px 10px 0 0;
            background:#f9fafe;
            .que_num {
                display: inline-table;
                width: 40px;
                height: 40px;
                margin-right: 15px;
                font-size: 15px;
                color: #fff;
                text-align: center;
                border-radius: 30px;
                background: $primary-color;
                span {
                    font-size: 15px;
                    display: inline-block;
                    padding-top: 8px;
                }
            }
            .que_tit {
                align-self:center;
                > h3 {
                    font-size:18px;
                    font-weight:500;
                    color:$gray-color;
                }
                > p {
                    font-size:14px;
                    color:$primary-color;
                }
                > span {
                    display:inline-block;
                    margin-top:25px;
                    font-size:14px;
                    color:$gray06-color;
                }
            }
        }
        .pop_con_btm{
            padding:40px 50px 40px 100px;
            background:#fff;
            border-radius: 0 0 10px 10px;
            > p {
                font-size:16px;
                color:#555555;
                margin-bottom:30px;
                letter-spacing: -1px;
                > span {
                    font-size:15px;
                    color:$primary-color;
                }
                > b {
                    display:inline-block;
                    min-width:100px;
                    margin:0 10px;
                    border-bottom:1px solid #000;
                }
            }
            .audioplayer {
                width:100%;
                margin-top:0;
                margin-bottom:40px;
            }
            &.answer {
                .answer {
                    display:block;
                }
            }
            &.wrong {
                .wrong {
                    display:block;
                }
            }
            .que_con {
                p {
                    margin-left:10px;
                    padding: 3px 0;
                    font-size:15px;
                    vertical-align: middle;
                }
                textarea {
                    width:100%;
                    padding:30px;
                    font-size:14px;
                    color:$gray09-color;
                    border:1px solid #eaeaea;
                    resize: none;
                    box-sizing: border-box;
                }
                &.list {
                    padding-top:10px;
                    label {
                        position:relative;
                        display:block;
                        margin-bottom: 15px;
                        
                    }
                }
                .que_con01 {
                    flex:2;
                    label {
                        img {
                            margin:20px;
                        }
                    }
                }
                .write_in {
                    height:250px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border:1px solid #bbbbbb;
                }
            }
            .que_con_btm {
                margin-top:15px;
                button {
                    width:100px;
                    padding:5px 0;
                    font-size:16px;
                    border-radius: 5px;
                    & + button {
                        margin-left:5px;
                    }
                }
            }
        }
    }
}
.ex_box {
    width:550px;
    margin-bottom:30px;
    padding:15px 0;
    text-align:center;
    border:1px solid #bbbbbb;
    background:#fff;
    > p {
        font-size:14px;
        color:$gray03-color;
        strong {
            font-weight:700;
            color:$sub-color;
        }
        span {
            font-weight:700;
        }
    }
    &.left {
        display: flex;
        justify-content: center;
        text-align: left;
    }
}
.exam_pop_btm  {
    margin-top:30px;
    > button {
        position: absolute;
        left: 42%;
        font-size:16px;
        padding:10px 30px;
        border-radius: 5px;
        box-shadow: 0px 4px 5px -1px #6f6f6f33;
    }
    > a {
        font-size:16px;
        padding:10px 30px;
        border-radius: 5px;
        box-shadow: 0px 4px 5px -1px #6f6f6f33;
        &:first-child {
            img {
                margin-right:15px;
            }
        }
        &:last-child {
            img {
                margin-left:15px;
            }
        }
    }
}
.exam_result_box {
    position: fixed;
    bottom: 104px;
    left: 36px;
    margin: 0 auto;
    width: 93%;
    padding: 30px 0;
    text-align: center;
    border-radius: 10px;
    display:none;
    > img {
        vertical-align: sub;
        margin-right:15px;
    }
    > span {
        font-size:30px;
        font-weight:700;
        color:#fff;
    }
    > p {
        margin-top:15px;
        font-size:16px;
        color:#fff;
        strong {
            margin-right:10px;
        }
    }
    > .close {
        position:absolute;
        top:20px;
        right:20px;
    }
    &.answer {
        background:#485cc7;
        opacity: 0.5;
    }
    &.wrong {
        background: #ff0000;
        opacity: 0.5;
    }
}

///////////////////////////////////////////////////////////////////////// 뱃지
.card_badge {
    position: absolute;
    top: -1px;
    left: 30px;
    width: 65px;
    height: 34px;
    span {
        font-size:13px;
        color:#fff;
        font-weight: 500;
        display: inline-block;
    }
    &.use {
        background:url(../images/badge_use.png) no-repeat;
        > span {
            margin: 6px 20px;
        }
    }
    &.stand {
        background:url(../images/badge_stand.png) no-repeat;
        width:100px;
        > span {
            margin:6px 0 0 20px;
        }
    }
    &.finished {
        background:url(../images/badge_finished.png) no-repeat;
        width:100px;
        > span {
            margin:6px 0 0 20px;
        }
    }
    &.ongoing {
        background:url(../images/badge_ongoing.png) no-repeat;
        width:100px;
        > span {
            margin: 6px 20px;
        }
    }
    &.not_use {
        background:url(../images/badge_use_n.png) no-repeat;
        width:103px;
        > span {
            margin: 7px 19px;
        }
    }
    &.completion {
        background:url(../images/badge_completion.png) no-repeat;
        width:166px;
        > span {
            margin: 7px 21px;
        }
    }
}

///////////////////////////////////////////////////////////////////////// 카드 컨테이너
.card_wrap  + .card_wrap  {margin-top: 30px;}
.card_wrap + .my_tit_sub {margin-top:30px;}
.card_wrap {
    position: relative;
    margin-bottom: 15px;
    background:#fff;
    border-radius: 6px;
    box-shadow: 0px 0px 6px 1px #6f6f6f17;
}
.card_container {
    padding:40px 50px;
    & + .card_container {
        margin:0 50px;
        padding:40px 0;
        border-top:1px solid #ddd;
    }
}
.card_sub {
    padding: 20px 50px;
    &.gray {
        background:#fafafa;
    }
    &.profile {
        background:#f8f9fe;
    }
}
.box_wrap {
    padding:20px 40px;
    border:1px solid #dddddd;
    border-radius: 10px;
    background:#fff;
}


///////////////////////////////////////////////////////////////////////// 카드 컨텐츠
.card_text {
    width:100%;
    margin-left:30px;
    .card_tit {
        div {
            h1 {
                font-size: 30px;
            }
            &:last-child {
                margin-top:10px;
            }
        }
    }
}
.card_tit_sub {
    font-size:14px;
    color:$primary-color;
}
.card_bt {
    margin-top:20px;
    > div {
        &:last-child {
            > button {
                width:180px;
                font-size:16px;
                font-weight:700;
            }
           
        }
    }
    &.sub {
        margin-top:40px;
        > div {
            > button {
                width: auto;
                padding: 5px 20px;
                height: 45px;
                align-self: center;
                & + button {
                    margin-left:10px;
                }
            }
        }
    }
}
.time {
    margin:12px 10px 0 0;
    padding-left:20px;
    font-weight:700;
    &.on {
        background: url(../images/icon_time_on.png) no-repeat;
        background-size: 15px;
        background-position: 0px 5px;
        color: #6071cd;
    }
    &.off {
        background: url(../images/icon_time_off.png) no-repeat;
        background-size: 15px;
        background-position: 0px 5px;
        color:$gray06-color;
    }
}
.time_btn {
    > .time {
        margin:0;
        text-align:right;
    }
    > button {
        margin-top:10px;
        padding:10px 25px;
        font-size:16px;
        font-weight:700;
    }
}
.cer_search {
    margin-bottom:30px;
    > select {
        width:25%;
        margin-right:10px;
        border:1px solid #bbbbbb;
    }
    > input[type="text"] {
        width:61%;
        margin-right:10px;
        border:1px solid #bbbbbb;
    }
    > button {
        font-size:14px;
        padding:8px 15px;
        vertical-align: bottom;
    }
}
.input_error {
    margin-top:10px;
    > img {
        height:20px;
        margin:3px 5px 0 0;
    }
    > p {
        display:inline-block;
        font-size:14px;
        font-weight:400;
        color:$sub-color;
    }
}
.input_complete {
    margin-top:10px;
    > img {
        height:20px;
        margin:0 5px 0 0;
    }
    > p {
        display:inline-block;
        font-size:14px;
        font-weight:400;
        color:$blue02-color;
    }
}
.co_tit {
    margin-bottom:15px;
    font-size:18px;
    font-weight:700;
    color:$gray-color;
    strong {
        color:$blue02-color;
    }
    > button {
        padding:5px 15px;
        float:right;
        vertical-align: top;
    }
}

///////////////////////////////////////////////////////////////////////// 카드 구조
.use_box {
    padding:50px;
    .use_text {
        margin-left:30px;
        h3 {
            margin-bottom:20px;
            font-size:24px;
            color:$gray03-color;
        }
        dl {
            dt {
                padding-right:10px;
                margin-right:10px;
                font-size:14px;
                color:$gray06-color;
                border-right:1px solid #dbdbdb;
            }
            dd {
                margin-right:20px;
                font-size:14px;
                color:$gray03-color;
            }
            + dl {
                margin-top:10px;
            }
            &.sm {
                dt {
                    width:70px;
                }
            }
            &.md {
                dt {
                    width:140px;
                }
            }
        }
    }
    .use_btn {
        flex:3;
        text-align:right;
        align-self: flex-end;
        > button {
            padding:10px 20px;
            & + button {
                margin-left:10px;
            }
        }
    }
}
.on_box {
    .on_text {
        width:100%;
    }
}
.publ_top {
    margin-bottom:30px;
    > div {
        > button {
            padding:10px 20px;
            font-size:15px;
            & + button {
                margin-left:10px;
            }
        }
        > a {
            padding:10px 20px;
            font-size:15px;
        }
    }
}
.add_course {
    input[type="text"] {
        margin-bottom:50px;
    }
    select {
        margin-bottom:50px;
    }
    .co_sub {
        > div {
            min-width:300px;
            &:first-child {
                margin-right:50px;
            }
        }
    }
    .attach {
        margin:15px 0 35px 0;
        padding:25px;
        border:1px solid #ebebeb;
        .attach_box {
            padding:20px 30px;
            border:1px solid #eaeaea;
            background:#f5f7ff;
            &:first-child {
                margin-right:15px;
            }
            > div {
                a {
                    display:inline-block;
                    font-size:16px;
                    color:$blue02-color;
                    margin-bottom:10px;
                }
                p {
                    font-size:13px;
                    color:$gray09-color;
                }
                button {
                    margin-top:5px;
                    padding:10px 15px;
                    background: #f5f7ff;
                }
            }
        }
    }
    .week {
        margin:15px 0 50px 0;
        .week_list {
            position:relative;
            width: 100%;
            text-align:center;
            padding:30px;
            border-radius: 5px;
            &.off {
                color:$gray03-color;
                border:1px solid #eaeaea;
                background:#fafafa;
            }
            &.on {
                color:#fff;
                border:1px solid #7acc00;
                background:#7acc00;
                &::after {
                    content:'';
                    background:url('../images/icon_week_check.png') no-repeat;
                    position:absolute;
                    top:10px;
                    right:10px;
                    width:16px;
                    height:11px;
                }
            }
            & + .week_list {
                margin-left:10px;
            }
        }
    }
}
.notice_box {
    .notice_top {
        margin-bottom:10px;
        > div {
            span {
                display:inline-block;
                margin:3px 5px 0 0;
                padding:0 10px;
                font-size:13px;
                font-weight:500;
                vertical-align: top;
            }
            p {
                display:inline-block;
                font-size:18px;
                font-weight:700;
                color:$gray03-color;
            }
            button {
                padding:5px 15px;
                font-size:14px;
                font-weight:500;
                color:$gray03-color;
            }
        }
    }
}
.notice_con {
    padding:30px;
    background:#f9fafe;
    .card_img_sm {
        margin-right:15px;
    }
    > div {
        h3 {
            font-size:18px;
            font-weight:500;
            color:$gray03-color;
        }
        > span {
            margin-top:5px;
            font-size:14px;
            font-weight:300;
            color:$gray09-color;
        }
        p {
            margin-top:10px;
            font-size:15px;
            font-weight:300;
            color:$gray06-color;
        }
    }
}

.info_box {
    vertical-align: top;
    > h4 {
        margin-bottom:30px;
        font-size:15px;
        font-weight:300;
        color:$gray03-color;
    }
    > input[type="text"] {
        & + p {
            margin-top:50px;
        }
    }
    > .input_error {
        & + p {
            margin-top:50px;
        }
    }
    & + .info_box {
        margin-top:50px;
    }
}

.mms_top {
    margin-bottom:30px;
    div {
        > select {
            padding:15px;
            font-size:14px;
            width:160px;
        }
        > button {
            height:100%;
            padding:0 20px;
            font-size:15px;
        }
    }
}
.mms_con {
    select {
        & + select {
            margin-top:20px;
        }
        & + input[type="text"] {
            margin-top:20px;
            color:$gray09-color;
        }
    }
    input {
        & + textarea {
            margin-top:20px;
            color:$gray09-color;
        }
    }
}
.mms_box {
    .mms_tit {
        > div {
            .line_green02 {
                display: inline-block;
                margin: 3px 5px 0 0;
                padding: 0 10px;
                font-size: 13px;
                font-weight: 500;
                vertical-align: top;
            }
            > span {
                &:last-child {
                    font-size:14px;
                    font-weight:300;
                    color:#b1b1b1;
                }
            }
            > button {
                padding: 5px 15px;
                font-size: 14px;
                font-weight: 500;
                color: #333;
            }
        }
    }
    .mms_qa {
        margin:10px 0;
        &.re {
            &::before {
                content:'';
                background:url(../images/icon_mms_re.png) no-repeat;
                display:inline-block;
                margin-top:5px;
                width:17px;
                height:20px;
                vertical-align: top;
            }
            .mms_qa_top {
                display:inline-block;
                margin-left:10px;
            }
            p {
               padding:20px 30px;
            }
        }
        .mms_qa_top {
            padding-bottom:20px;
           
            h2 {
                margin-bottom:5px;
                font-size:24px;
                font-weight:700;
                color:$gray03-color;
                em {
                    color:$sub-color;
                }
                
            }
            h4 {
                font-size:16px;
                font-weight:500;
                color:$gray06-color;
                strong {
                    font-weight:500;
                }
            }
        }
        
        > p  {
            border-top:1px solid #eeeeee;
            padding:20px 0;
            font-size:15px;
            color:$gray06-color;
            &.text_overflow {
                height:24px;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                & + .mms_qe_con {
                    margin-top:20px;
                }
            }
        }
    }
}
.mms_qe_con {
    margin-top:10px;
    padding: 30px;
    background: #f9fafe;
    > img {
        margin-top:10px;
        vertical-align: top;
    }
    .qe_con_txt {
        display:inline-block;
        width:95%;
        margin-left: 15px;
        .card_img_sm {
            margin-right:10px;
            float:left;
        }
        h3 {
            display:inline-block;
            font-size:18px;
            font-weight:500;
            color:$gray03-color;
        }
        > span {
            display:block;
            margin-top:5px;
            font-size:14px;
            font-weight:300;
            color:$gray09-color;
        }
        p {
            margin-top:10px;
            font-size:15px;
            font-weight:300;
            color:$gray06-color;
        }
    }
}

.purchase {
    > div {
        &:first-child {
            > div {
                display:inline-block;
                vertical-align: top;
                margin-top:5px;
                & + div {
                    margin-left:30px;
                }
            }
            .pur_tit {
                h3 {
                    font-size:24px;
                    font-weight:700;
                    color:$gray03-color;
                }
                h4 {
                    font-size:16px;
                    font-weight:400;
                    color:$gray06-color;
                    margin-bottom:25px;
                }
                span {
                    font-size:14px;
                    color:$gray06-color;
                    &::after {
                        content:'';
                        display:inline-block;
                        width:1px;
                        height:15px;
                        background:#dbdbdb;
                        margin:0 10px;
                        vertical-align: sub;
                    }
                }
                strong {
                    font-size:14px;
                    font-weight:500;
                    color:$gray03-color;
                }
            }
        }
        
    }
    .pur_rig {
        text-align:center;
        span {
            font-size:14px;
            color:$gray06-color;
            
        }
        h5 {
            font-size:34px;
            font-weight:500;
            margin-bottom:10px;
        }
        button {
            font-size:15px;
            padding:10px 20px;
        }
        &.on {
            h5 {
                color:$blue02-color;
            }
        }
        &.off {
            align-self: center;
            h5 {
                color:$gray02-color;
            }
        }
    }
}

.coupon_img_10 {
    background:url(../images/coupon10.png) no-repeat;
    position:relative;
    width: 265px;
    height: 130px;
    margin-right: 30px;
    .coupon_down {
        background:url(../images/coupon_down.png) no-repeat;
        background-position: 85% 86px;
        position:absolute;
        width: 60%;
        padding: 23px 35px;
        color:#fff;
        overflow:hidden;
        h3 {
            font-size:15px;
            font-weight:400;
            letter-spacing: 1px;
            text-transform: uppercase;
        }
        .price {
            font-size:54px;
            font-weight:700;
            line-height: 60px;
            .dollar {
                font-size:32px;
                font-weight:400;
            }
        }
    }
}
.coupon_img_20 {
    background:url(../images/coupon20.png) no-repeat;
    position:relative;
    width: 265px;
    height: 130px;
    margin-right: 30px;
    .coupon_down {
        background:url(../images/coupon_down.png) no-repeat;
        background-position: 85% 86px;
        position:absolute;
        width: 60%;
        padding: 23px 35px;
        color:#fff;
        overflow:hidden;
        h3 {
            font-size:15px;
            font-weight:400;
            letter-spacing: 1px;
            text-transform: uppercase;
        }
        .price {
            font-size:54px;
            font-weight:700;
            line-height: 60px;
            .dollar {
                font-size:32px;
                font-weight:400;
            }
        }
    }
}
.coupon_img_30 {
    background:url(../images/coupon30.png) no-repeat;
    position:relative;
    width: 265px;
    height: 130px;
    margin-right: 30px;
    .coupon_down {
        background:url(../images/coupon_down.png) no-repeat;
        background-position: 85% 86px;
        position:absolute;
        width: 60%;
        padding: 23px 35px;
        color:#fff;
        overflow:hidden;
        h3 {
            font-size:15px;
            font-weight:400;
            letter-spacing: 1px;
            text-transform: uppercase;
        }
        .price {
            font-size:54px;
            font-weight:700;
            line-height: 60px;
            .dollar {
                font-size:32px;
                font-weight:400;
            }
        }
    }
}
.coupon_img_40 {
    background:url(../images/coupon40.png) no-repeat;
    position:relative;
    width: 265px;
    height: 130px;
    margin-right: 30px;
    .coupon_down {
        background:url(../images/coupon_down.png) no-repeat;
        background-position: 85% 86px;
        position:absolute;
        width: 60%;
        padding: 23px 35px;
        color:#fff;
        overflow:hidden;
        h3 {
            font-size:15px;
            font-weight:400;
            letter-spacing: 1px;
            text-transform: uppercase;
        }
        .price {
            font-size:54px;
            font-weight:700;
            line-height: 60px;
            .dollar {
                font-size:32px;
                font-weight:400;
            }
        }
    }
}
.coupon_tit {
    h3 {
        font-size:24px;
        font-weight:700;
        color:$gray03-color;
    }
    p {
        margin-top:3px;
        font-size:16px;
        color:$gray06-color;
    }
}
.coupon_dl {
    margin-top:20px;
    dl {
        dt {
            width:70px;
            padding-right: 10px;
            margin-right: 10px;
            font-size:14px;
            font-weight:400;
            color:$gray06-color;
            border-right: 1px solid #dbdbdb;
        }
        dd {
            font-size:14px;
            font-weight:500;
            color:$gray03-color;
            > div {
                background: url(../images/icon_mark.png) no-repeat;
                display: inline-block;
                margin-left: 15px;
                padding-left: 25px;
                color: #485cc7;
                background-position: left 2px;
                > img {
                    margin-top:2px;
                    vertical-align: sub;
                }
                > strong {
                    font-weight:700;
                }
            }
        }
        & + dl {
            margin-top:10px;
        }
    }
}
.coupon {
    margin-top:50px;
    > a {
        background:url(../images/box_arrow_down.png) no-repeat;
        width:11px;
        height:7px;
        margin-top:10px;
    }
}
.myle {
    width:100%;
    margin-left:50px;
    .myle_top {
        h3 {
            font-size:23px;
            color:$gray03-color;
            strong {
                color:$blue02-color;
            }
        }
        p {
            font-size:16px;
            color:$gray06-color;
        }
        a {
            background:url(../images/icon_set_more.png) no-repeat;
            display: inline-block;
            width: 4px;
            height: 40px;
            background-position: right 10px;
        }
    }
    .myle_bottom {
        margin-top:20px;
        > div {
           > div {
                &:first-child {
                    margin-right:20px;
                }
                span {
                    font-weight:500;
                }
           }
           > button {
                font-size:16px;
                font-weight:700;
                padding:5px 30px;
            }
        }
    }
}


///////////////////////////////////////////////////////////////////////// 테이블
.table {
    width:100%;
    border-collapse: collapse;
    &.primary {
        thead {
            background:$blue02-color;
            border-radius: 10px;
            th {
                font-size:15px;
                font-weight:500;
                color:#fff;
                padding:10px;
                &:first-child {
                    border-radius: 10px 0 0 10px;
                }
                &:last-child {
                    border-radius: 0 10px 10px 0;
                }
            }
        }
        tbody {
            tr {
                td {
                    position:relative;
                    padding:10px;
                    font-size:14px;
                    color:$gray06-color;
                    text-align:center;
                    border-bottom:1px solid #eaeaea;
                    > button {
                        padding:10px 20px;
                    }
                }
                &:nth-child(even) {
                    background:#fbfbfb;
                }
                
            }
        }
    }
    &.publish {
        tbody {
            tr {
                td {
                    &:nth-child(4) {
                        max-width: 200px;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }
            }
        }
    }
    &.grades {
        tbody {
            tr {
                td {
                    padding:15px;
                    &.blue {
                        color:$blue-color;
                    }
                    &.sub {
                        color:$sub-color;
                    }
                }
            }
        }
    }
}

///////////////////////////////////////////////////////////////////////// 카드 서브 컨텐츠
.card_sub {
    &.profile {
        .card_img_md {
            margin-right:20px;
        }
    }
}
.profile_box{
    .profile_box_left{
        margin-top:7px;
        p{
            font-size:18px;
            font-weight:700;
            color:$gray03-color;
        }
        em{
            margin-right:10px;
            font-size: 14px;
            color: $gray06-color;
        }
        .star {
            font-size:14px;
            color:$gray03-color;
        }
    }
    .profile_box_right {
        display: flex;
        .des_right {
            span {
                display: inline-block;
                margin-bottom: 10px;
                font-size:13px;
                color:$gray09-color;
            }
            p {
                font-size:14px;
                font-weight: 700;
                columns: $gray03-color;
            }
            &:nth-child(2){
                margin: 0 50px;
            }
            &:nth-child(3){
                a{
                    p{
                        color: $sub-color;
                    }
                }
            }
            &:last-child {
                margin-right:0;
            }
        }
    }
}
.att_box {
    background:#f8f9fe;
    margin-bottom:50px;
    padding:30px 0;
    > div {
        width:100%;
        text-align:center;
        h4 {
            margin-bottom:10px;
            font-size:15px;
            color:$gray03-color;
        }
        h1 {
            font-size:26px;
            font-weight:700;
            color:$blue02-color;
        }
        & + div {
            border-left:1px solid #ddd;
        }
    }
}

///////////////////////////////////////////////////////////////////////// 커리큘럼 리스트
.curri_list  {
    padding:25px 0;
    > strong {
        font-size:18px;
        color:$blue-color;
        margin-right:15px;
    }
    > p {
        display:inline-block;
        font-size:18px;
        color:$gray03-color;
    }
    > span {
        float:right;
    }
    &:first-child {
        padding-top:0;
    }
    & + .curri_list {
        border-top:1px solid #ddd;
    }
    & + a {
        margin-top:30px;
    }
}

///////////////////////////////////////////////////////////////////////// 완료 리스트
.comp_list  {
    padding:25px 0;
    > div {
        align-self: center;
        > strong {
            font-size:16px;
            font-weight:500;
            color:$gray06-color;
            margin-right:15px;
        }
        > p {
            display:inline-block;
            font-size:16px;
            color:$gray03-color;
        }
        > .time {
            font-size:14px;
            font-weight:500;
            margin:0 15px;
            img {
                margin-right:3px;
            }
        }
        > .bg_blue, .bg_gray {
            margin-right:15px;
            padding:10px 20px;
            font-size:14px;
        }
        > .preview {
            height:20px;
            align-self: center;
            & + .preview {
                margin-left:10px;
            }
        }
    }
    &:first-child {
        padding-top:0;
    }
    &:last-child {
        padding-bottom:0;
    }
    & + .comp_list {
        border-top:1px solid #ddd;
    }
}

///////////////////////////////////////////////////////////////////////// 히스토리
.usage_card {
    border-bottom:1px solid #e0e0e0;
    .usage_left{
        h1{
            font-size:28px;
            color:$gray03-color;
            margin-bottom: 10px;
        }
        h4{
            font-size: 14px;
            font-weight: 400;
            color:$gray09-color;
        }
    }
}
.usage_card_sub {
    margin:0 50px;
    .usage_card_list {
        padding:40px 0;
        & + .usage_card_list {
            border-top:1px solid #eeeeee;
        }
        .usage_list_top {
            img {
                vertical-align: top;
                margin-right:10px;
            }
            h3 {
                display:inline-block;
                font-size:24px;
                color:$gray03-color;
            }
        }
        .usage_list_btm {
            margin-top:20px;
            > 
            .enter {
                width: 180px;
                font-size: 16px;
                font-weight: 700;
            }
            .write {
                width:140px;
                height:40px;
                font-size:15px;
            }
            > .complete {
                strong {
                    font-size:24px;
                    font-weight:700;
                    color:$gray09-color;
                }
                .usage_time {
                    margin-left:5px;
                    font-size:14px;
                    color:$gray09-color;
                }
                p {
                    font-size:14px;
                    color:$gray09-color;
                }
                .preview {
                    margin-left:5px;
                }
            }
            > .flex_bottom {
                .star-input {
                    margin:5px 10px 0 0 ;
                }
            }
        }
    }
    .showMore {
        padding-bottom:40px;
    }
}

.reservation {
    strong {
        font-size:24px;
        font-weight:700;
        color:$sub-color;
    }
    .usage_time {
        margin-left:5px;
        font-size:14px;
        color:$gray03-color;
    }
    p {
        font-size:14px;
        color:$gray09-color;
    }
}

///////////////////////////////////////////////////////////////////////// 페이징
.pagination {
    margin-top:50px;
    text-align:center;
    a {
        display:inline-block;
        padding: 8px 16px;
        font-size:16px;
        color:$gray09-color;
        &.active {
            background:#fff;
            font-weight:700;
            color:$blue02-color;
            border:1px solid $blue02-color;
            border-radius: 5px;
        }
        & + a {
            margin-left:10px;
        }
        &:nth-child(1),&:nth-child(2),
        &:nth-last-child(1),&:nth-last-child(2) {
            background:#fff;
            margin:0;
            border:1px solid #aaaaaa;
            border-radius: 5px;
        }
        > img {
            vertical-align:inherit;
        }
    }
}

///////////////////////////////////////////////////////////////////////// 탭
.selector_tabs {
    margin-right:40px;
    li {
        padding:40px 25px;
        text-align:center;
        cursor: pointer;
        img {
            margin-bottom: 10px;
            &.on {
                display:none;
            }
        }
        p {
            color: #666666;
            font-size: 14px;
            strong{
                color: #333333;
                font-size: 20px;
                margin-left:5px;
            }
        }
        &:first-child {
            &.active {
                border-bottom:3px solid $blue-color;
            }
        }
        &:nth-child(2) {
            &.active {
                border-bottom:3px solid $orange-color;
            }
        }
        &.active {
            img {
                &.on {
                    display:inline-block;
                }
                &.off {
                    display:none;
                }
            }
        }
    }
    .selector{
        height:100%;
        display:inline-block;
        position:absolute;
        left:0px;
        top:0px;
        z-index:1;
        border-radius:50px;
        transition-duration:0.6s;
        transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
        background: #444444;
    }
}

///////////////////////////////////////////////////////////////////////// 탭 2
.tab_content,
.tab_content_sub {display: none;}
.tab_drawer_heading,
.tab_drawer_heading2 { display: none; }

.tabs {
    &.grades {
        li {
            width:100%;
            padding:20px 0;
            font-size:16px;
            color:$gray09-color;
            text-align:center;
            border:1px solid #eaeaea;
            border-radius: 10px 10px 0 0;
            background:#f3f3f3;
            border-bottom:none;
            cursor: pointer;
            > img {
                display:none;
                margin-right:15px;
            }
            &.active {
                color:$sub-color;
                border:1px solid #fff;
                background:#fff;
                > img {
                    display:inline-block;
                }
            }
        }
    }
    &.grades_sub {
        margin-bottom:50px;
        border-top:1px solid #ddd;
        border-bottom:1px solid #ddd;
        border-radius: 5px;
        li {
            width:100%;
            padding:10px;
            font-size:14px;
            color:$gray06-color;
            text-align:center;
            cursor: pointer;
            &:first-child {
                border-left:1px solid #ddd;
                border-radius: 5px 0 0 5px;
            }
            &:last-child {
                border-right:1px solid #ddd;
                border-radius: 0 5px 5px 0;
            }
            &.active {
                color:$blue02-color;
                border:1px solid $blue02-color;
                border-radius: 5px;
                & + li {
                    border-left:none;
                }
            }
            & + li {
                border-left:1px solid #ddd;
            }
        }
    }
}

.tabs {
    &.grades {
        margin-top:50px;
        & + .tab_container {
            background:#fff;
            padding:40px 50px;
        }
    }
}

/////////////////////////////////////////////////////////////////////////  프리뷰 버튼
.preview {
    display:inline-block;
    padding:5px 10px;
    font-size:13px;
    &.on {
        color:$blue-color;
        background:#f5f7ff;
    }
    &.off {
        color:#bbbbbb;
        background:#f9f9f9;
    }
    > img {
        vertical-align: top;
        margin:5px 5px 0 0;
    }
    &.ing {
        color:$orange-color;
        background:#fff9f0;
    }
}

///////////////////////////////////////////////////////////////////////// 자료&커리큘럼
.class_card {
    padding:15px 18px;
    border-radius: 10px;
    img {
        margin-top:2px;
        vertical-align: top;
    }
    &.on {
        background:#f5f7ff;
    }
    &.off {
        background:#f9f9f9;
    }
    &+.class_card {
        margin-left:15px;
    }
    &.data {
        background-repeat: no-repeat;
        background-position: 18px;
        width:18px;
        height:20px;
        &.on {
            background-image: url(../images/icon_data_off.png);
        }
        &.off {
            background-image: url(../images/icon_data_off.png);
        }
    }
    &.user {
        background-repeat: no-repeat;
        background-position: 18px;
        width:19px;
        height:19px;
        &.on {
            background-image: url(../images/icon_user_on.png);
        }
        &.off {
            background-image: url(../images/icon_user_off.png);
        }
    }
    &.search {
        background-repeat: no-repeat;
        background-position: 18px;
        width:18px;
        height:18px;
        &.on {
            background-image: url(../images/icon_search_on.png);
        }
        &.off {
            background-image: url(../images/icon_search_off.png);
        }
    }
}

///////////////////////////////////////////////////////////////////////// 하단 버튼
.card_btm_btn {
    margin-top:30px;
    text-align:center;
    > button {
        padding:15px 50px;
        font-size:18px;
        font-weight:700;
        & + button {
            margin-left:10px;
        }
    }
}
.card_container_btn {
    margin-top:30px;
    text-align:center;
    > button {
        width:85px;
        padding:10px 0;
        font-size:15px;
        font-weight:500;
        & + button {
            margin-left:10px;
        }
        &.auto {
            width:auto;
            padding:10px 15px;
        }
    }
}

///////////////////////////////////////////////////////////////////////// 그림판 
.canvas {width: 800px;height: 450px;}
.controls .controls__colors {display: flex;}
#jsErase {vertical-align: super;}
.color_wrap {padding:10px 40px;border-radius: 30px;background:#fff;min-height: 35px;vertical-align: top;}
.jscolor {vertical-align: top;margin-top:3px;}
.controls__colors {display:inline-block;}
.controls__colors .controls__color {display:inline-block;text-align:left;width: 25px;height: 25px;border-radius: 25px;margin-right: 5px;cursor: pointer;vertical-align: sub;}
.jscolor {color: transparent;font-size: 0;line-height: 0;vertical-align: super;width: 25px;height: 25px;border-radius: 25px;border-width: 0px;margin-right: 5px;cursor: pointer;border:1px solid #ddd;}
.controls {display: flex;flex-direction: column;align-items: center;}
.controls .controls__btns {margin-top: 20px;margin-bottom: 30px;}
.controls__btns button:active {transform: scale(0.98);}
.controls__btns button {all: unset;cursor: pointer;background-color: white;padding: 5px 0px;width: 80px;text-align: center;border-radius: 10px;box-shadow: 3px 3px 3px grey;border: 2px solid rgba(0, 0, 0, 0.2);color: rgba(0, 0, 0, 0.8);text-transform: uppercase;font-weight: 600;font-size: 12px;}
.controls .controls__range {margin-top: 20px;}
.controls__range {display:inline-block;}
.controls__range input {margin-top:10px;}

///////////////////////////////////////////////////////////////////////// 별점
.star-input>.input,
.star-input>.input>label:hover,
.star-input>.input>input:focus+label,
.star-input>.input>input:checked+label{display: inline-block;vertical-align:middle;background:url('../images/grade_img.png')no-repeat;}
.star-input>.input{display:inline-block;width:100px;background-size:100px;height:16px;white-space:nowrap;overflow:hidden;position: relative;}
.star-input>.input>input{position:absolute;width:1px;height:1px;opacity:0;}
.star-input>.input.focus{outline:1px dotted #ddd;}
.star-input>.input>label{width:30px;height:0;padding:16px 0 0 0;overflow: hidden;float:left;cursor: pointer;position: absolute;top: 0;left: 0;}
.star-input>.input>label:hover,
.star-input>.input>input:focus+label,
.star-input>.input>input:checked+label{background-size: 100px;background-position: 0 bottom;}
.star-input>.input>label:hover~label{background-image: none;}
.star-input>.input>label[for="p1"]{width:20px;z-index:5;}
.star-input>.input>label[for="p2"]{width:40px;z-index:4;}
.star-input>.input>label[for="p3"]{width:60px;z-index:3;}
.star-input>.input>label[for="p4"]{width:80px;z-index:2;}
.star-input>.input>label[for="p5"]{width:100px;z-index:1;}
.star-input>output{display:inline-block;width:60px; font-size:18px;text-align:right; vertical-align:middle;}