$primary-color : #de9d22;
$blue-color : #0d52a7;
$green-color : #208b73;
$red-color : #d1452e;
$gray-color : #dbdbdb;
$gray02-color:#333333;
$gray03-color:#444444;
$gray04-color:#222222;

.table {
    width:100%;
    border-collapse: collapse;
}

///////////////////////////////////////////////////////////////////////// curri_table
.curri_table {
    thead {
        th {
            font-size:14px;
            color:#333333;
            padding-bottom:20px;
             &:first-child {
                font-size:15px;
                font-weight:700;
                text-align:left;
            }
        }
    }
    tbody {
        td {
            font-size:14px;
            font-weight:700;
            color:#333333;
            padding:15px;
            text-align:center;
            &:first-child {
                color:#bbbbbb;
                text-align:left;
            }
            &:nth-child(2) {
                text-align:left;
            }
        }
        tr {
            &:nth-child(even) {
                td {
                    background:#fafafa;
                }
            }
        }
    }
}


///////////////////////////////////////////////////////////////////////// sche_table
.sche_table {
    tbody {
        tr {
            td {
                vertical-align: middle;
                border-right:1px solid #eaeaea;
                padding:15px 5px;
                &.backgorund_blue {
                    color: #fff;
                    background: #75afcd;
                } 
            }
            &:nth-child(1),
            &:nth-child(7),
            &:nth-child(13) {
                background: #f9fafe;
                td {
                    font-weight:700;
                }
                td:first-child {
                    padding-left: 20px;
                    color: #0d52a7;
                    font-size: 15px;
                    font-weight: 700;
                    text-align: left;
                }
            }
            &:nth-child(2),
            &:nth-child(8) {
                td {
                    color: #333333;
                    font-size: 15px;
                    font-weight: 700;
                    border-right: 1px solid #eaeaea;
                }
            }
            &:nth-child(4),
            &:nth-child(6) {
                background: #fbfbfb;
            }
            &:nth-child(10),
            &:nth-child(12) {
                background: #fbfbfb;
            }
            .text_part {
                padding-left: 15px;
                text-align: left;
            }
        }
    }
}




///////////////////////////////////////////////////////////////////////// sche_table
.manager_table {
    margin-top: 20px;
    border-top: 2px solid #1b4c88;
    thead {
        th {
            padding: 10px 0;
            border-right:1px solid #ddd;
            &:last-child {
                border-right:0;
            }
        }
    }
    tbody {
        td {
            padding: 15px 3px;
            border: 1px solid #eaeaea;

            &:first-child {
                border-left: none;
            }
            &.skyblue {
                background: #75afcd;
            }
            &.blue {
                background:#1b4c88;
            }
        }
    }
}
        
///////////////////////////////////////////////////////////////////////// common_table
.primary_table {
    border-top:2px solid #1b4c88;
    thead {
        border-bottom:1px solid #eaeaea;
        th {
            font-size:15px;
            color:#333333;
            padding:10px;
        }
    }
    tbody {
        tr {
            td {
                font-size:14px;
                border-bottom:1px solid #eaeaea;
            }
            &:nth-child(odd) {
                background:#fff;
            }
        }
    }
}



.chapter {
    border:1px solid #eaeaea;
    border-radius: 10px;;
    h3 {
        background: #315f97;
        font-weight:700;
        color: #fff;
        padding: 20px 30px;
        border-radius: 10px 10px 0 0;
    }
    .chapter_table {
        padding:10px 30px 30px 30px;
        table {
            thead {
                tr {
                    th {
                        font-size:14px;
                        font-weight:500;
                        color:$blue-color;
                        padding:10px 0;
                        &:first-child {
                            text-align:left;
                            color:$gray02-color;
                        }
                    }
                }
            }
            tbody {
                tr {
                    td {
                        padding:15px 10px;
                        font-size:14px;
                        color:$gray02-color;
                        text-align:center;
                        &:nth-child(1) {
                            text-align:left;
                        }
                        &:nth-child(2) {
                            text-align:left;
                        }
                        &:first-child {
                            color:#bbbbbb;
                        }
                    }
                    &:nth-child(odd) {
                        td {
                            background:#fafbfe;
                            vertical-align: middle;
                        }
                        
                    }
                }
                
            }
        }
    }
}

.chapter_bar {
    display: flex;
    justify-content: space-between;
    padding:20px 30px;
    margin:20px 0;
    border:1px solid $blue-color;
    border-radius: 10px;
    span {
        font-weight:700;
        color:$blue-color;
    }
}


.score_table {
    tbody {
        tr {
            &.line_none {
                td {
                    border-bottom:none;
                }
            }
            &:nth-child(1),&:nth-child(2),&:nth-child(5),&:nth-child(6),&:nth-child(8) {
                background:#fbfbfb;
            }
            &:last-child {
                border-bottom:1px solid #ddd;
            }
            th {
                font-size:15px;
                color:#222222;
                padding:10px;
                vertical-align: middle;
                border-right:1px solid #ddd;
                border-bottom:1px solid #ddd;
                background:#fff;
            }
            td {
                color: #333333;
                text-align:left;
                padding:10px;
                &:last-child {
                    text-align:center;
                    border-left:1px solid #ddd;
                }
                a {
                    text-decoration: underline;
                }
                span {
                    &.badge {
                        font-size:12px;
                        padding:0 10px;
                    }
                }
                input {
                    width:50px;
                    border:1px solid #eaeaea;
                    margin-left: 10px;
                    padding:5px;
                    text-align:center;
                }
            }
        }
       
    }
}

.table_tit {
    div {
        > span {
            font-size:20px;
            font-weight:700;
            color:#333333;
            margin-left:10px;
            vertical-align: sub;
        }
        > p {
            display:inline-block;
            font-size:14px;
            color:#999999;
            vertical-align: sub;
        }
    }
}

.table01_tit {
    font-size:20px;
    color:#333333;
    margin:50px 0 20px 0;
    &.sub {
        margin-top:0;
    }
}

.score_span {
    text-decoration: underline;
}