
#teacher_background{
    background: #fbfcfd;
}
.tutor_title{
    display: flex;
    justify-content: space-between;
    padding: 25px 0;
    .title_left{
        display: flex;
        div{
            margin-right: 25px;
            p{
                width: 540px;
                font-size: 24px;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
        }
        img{
            margin-top: 13px;
            padding-right: 5px;
            width: 12px;
            height: 14px;
        }
        span{
            margin-top: 7px;
            color: #777777;
        }
    }
    .title_right{
        select{
            padding: 7px 90px 7px 10px;
            option{
                color: #666666;
                font-size: 14px;
            }
        }
    }
}
#teacher{
    padding-top: 0;
    .teacher_left{
        .teacher_card_wrap{
            // teacher_card
            .teacher_card{
                background: #fff;
                .teacher_card_right{
                    position: relative;
                    .card_left{
                        .card_top{
                            overflow: hidden;
                            text-overflow: ellipsis;
                            h3{
                                overflow: hidden;
                                white-space: nowrap;
                                text-overflow: ellipsis;
                                width: 590px;
                            }
                        }
                    }
                    .card_right{
                        position: absolute;
                        top: 48%;
                        left: 37%;
                    }
                }
            }
            // teacher_card [e]

            // teacher_card_bottom
            .teacher_card_bottom{
                .card_wrap{
                    position: relative;
                    width: 100%;
                    .tutor_description{
                        padding-left: 60px;
                        .tutor_price{
                            span{
                                color: #1b4c88;
                                em{
                                    vertical-align: middle;
                                }
                            }
                        }
                    }
                    .lesson_like_btn{
                        button{
                            position: absolute;
                            top: 18px;
                            right: 60px;
                            border: none;
                        }
                    }
                }
            }
            // teacher_card_bottom [e]
        }
        // teacher_card_wrap [e]
        
        // 선생님 영상
        .aboutMe_top{
            margin-bottom: 30px;
            img{
                width: 100%;
                height: 385px;
            }
        }
        // 선생님 영상 [e]

        // 선생님 설명
        .teacher_description{
            padding: 104px 50px;
            margin-bottom: 30px;
            background: #fff;
            box-shadow: 0px 4px 8px 2px #6f6f6f33;
            p:first-child{
                margin-bottom: 30px;
            }
            p:last-child{
                color: #666666;
                font-size: 14px;
                em{
                    color: #2964ad;
                }
            }
        }
        // 선생님 설명[e]

        // 선생님 시간표
        .tutor_timetable{
            padding: 60px;
            background: #fff;
            box-shadow: 0px 4px 8px 2px #6f6f6f33;
            table{
                width: 100%;
                border-top: 1px solid #dddddd;
                border-bottom: 1px solid #dddddd;
                border-collapse: collapse;
                thead{
                    th{
                        color: #666666;
                        font-size: 13px;
                        font-weight: 300;
                        padding:5px;
                        border-bottom:1px solid #dddddd;
                    }
                }
                tbody{
                    tr{
                        td {
                            vertical-align: middle;
                            
                            div{
                                background: #f2f2f2;
                                margin:5px;
                                padding: 15px 40px;
                                border-radius: 3px;
                                &.blue {
                                    background: #75afcd;
                                }
                            }
                            &:first-child{
                                color: #666666;
                                font-size: 15px;
                            }
                            
                        }
                    }
                }
            }
        }
        // 선생님 시간표[e]
    }


    // teacher_right
    .teacher_right {
        .right_card:not(:last-child) {
            padding: 20px 0;
            margin-bottom: 30px;
        }
    
        .right_card {
            padding: 20px;
            background-color: #ffffff;
            box-shadow: 0px 4px 8px 2px #6f6f6f33;
            text-align: center;
            .right_card_list{
                position: relative;
                padding: 50px 0;
                .card_list_item{
                    position: relative;
                    padding-bottom: 20px;
                    a{
                        color: #999999;
                    }
                    img{
                        display: none;
                    }
                }
                .card_list_item:hover{
                    img{
                        display: block;
                        position: absolute;
                        top: 0;
                        right: 120px;
                    }
                }
                .card_list_item:hover a{
                    color: #0d52a7;
                    
                }
            }
            .button_guide{
                width: 100%;
                button{
                    padding: 20px 100px;
                    font-size: 18px;
                }
            }
        }
    }
    // teacher_right //
}




