
#teacher_background{
    background: #fbfcfd;
}
.tutor_title{
    display: flex;
    justify-content: space-between;
    padding: 25px 0;
    .title_left{
        display: flex;
        div{
            margin-right: 25px;
            p{
                width: 540px;
                font-size: 24px;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
        }
        img{
            margin-top: 13px;
            padding-right: 5px;
            width: 12px;
            height: 14px;
        }
        span{
            margin-top: 7px;
            color: #777777;
        }
    }
    .title_right{
        select{
            padding: 7px 90px 7px 10px;
            option{
                color: #666666;
                font-size: 14px;
            }
        }
    }
}
#teacher{
    padding-top: 0;
    .teacher_left{
        .teacher_card_wrap{
            // teacher_card
            .teacher_card{
                background: #fff;
                .teacher_card_right{
                    position: relative;
                    .card_left{
                        .card_top{
                            overflow: hidden;
                            text-overflow: ellipsis;
                            h3{
                                overflow: hidden;
                                white-space: nowrap;
                                text-overflow: ellipsis;
                                width: 590px;
                            }
                        }
                    }
                    .card_right{
                        position: absolute;
                        top: 48%;
                        left: 37%;
                    }
                }
            }
            // teacher_card [e]

            .teacher_aboutMe{
                padding: 0px 70px 40px 70px;
                .tutor_title.courses_title_size{
                    margin-bottom: 0;
                }
                .aboutMe_description{
                    color: #666666;
                    font-size: 14px;
                    em{
                        color: #2964ad;
                    }
                }
            }
        }
        // teacher_card_wrap [e]
        
        // 선생님 영상
        .aboutMe_top{
            margin-bottom: 30px;
            img{
                width: 100%;
                height: 385px;
            }
        }
        // 선생님 영상 [e]

        // 선생님 설명
        .teacher_description{
            padding: 104px 50px;
            margin-bottom: 30px;
            p:first-child{
                margin-bottom: 30px;
            }
            p:last-child{
                color: #666666;
                font-size: 14px;
                em{
                    color: #2964ad;
                }
            }
        }
        // 선생님 설명[e]

        // 선생님 시간표
        .tutor_timetable{
            padding: 60px;
            background: #fff;
            box-shadow: 0px 4px 8px 2px #6f6f6f33;
            table{
                width: 100%;
                border-top: 1px solid #dddddd;
                border-bottom: 1px solid #dddddd;
                border-collapse: collapse;
                thead{
                    th{
                        color: #666666;
                        font-size: 13px;
                        font-weight: 300;
                        padding:5px;
                        border-bottom:1px solid #dddddd;
                    }
                }
                tbody{
                    tr{
                        td {
                            vertical-align: middle;
                            
                            div{
                                background: #f2f2f2;
                                margin:5px;
                                padding: 15px 40px;
                                border-radius: 3px;
                                &.blue {
                                    background: #75afcd;
                                }
                            }
                            &:first-child{
                                color: #666666;
                                font-size: 15px;
                            }
                            
                        }
                    }
                }
            }
        }
        // 선생님 시간표[e]
    }


    // teacher_right
    .teacher_right {
        .right_card:not(:last-child) {
            margin-bottom: 30px;
        }
        // right_card
        .right_card {
            padding: 20px;
            background-color: #ffffff;
            box-shadow: 0px 4px 8px 2px #6f6f6f33;
            p{
                font-size: 20px;
                font-weight: 700;
            }
            // right_card_middle
            .right_card_middle{
                padding: 30px 0;
                border-top: 1px solid #ddd;
                margin-top: 20px;
                span{
                    color: #333333;
                    font-size: 15px;
                }
                strong{
                    float: right;
                    font-size: 22px;
                }
            }
            // right_card_middle[e]

            // button_guide
            .button_guide{
                margin: 10px 0;
                text-align: center;
                button{
                    padding: 20px 0;
                    width: 100%;
                    font-size: 18px;
                    font-weight: 700;
                }
            }
            // button_guide[e]

            // right_card.card_2
            &.card_2{
                h4{
                    margin-top: 10px;
                    color: #999999;
                    font-size: 13px;
                    font-weight: 400;
                }
                .right_card_middle{
                    position: relative;
                    padding: 30px 0 50px 0;
                    del{
                        position: absolute;
                        font-size: 16px;
                        color: #8d8d8d;
                        top: 55%;
                        right: 0;
                    }
                }
                .right_card_bottom{
                    margin: 25px 0;
                    p{
                        color: #333333;
                        font-size: 16px;
                        font-weight: 400;
                        text-align: right;
                    }
                }
                .button_guide{
                    button{
                        &:first-child{
                            margin-bottom: 10px;
                        }
                    }
                }
            }
            // right_card.card_2[e]
            &.card_2:last-child{
                .button_guide{
                    .inquiry_comment{
                        margin-bottom: 10px;
                        padding: 10px;
                        width: 100%;
                        box-sizing: border-box;
                        p{
                            overflow-x: hidden;
                            overflow-y: auto;
                            overflow: scroll;
                            height: 250px;
                            font-size: 14px;
                            color: #999999;
                            text-align: left;
                        }
                        .comment_box{
                            textarea{
                                width: 100%;
                                height: 260px;
                                border: 1px solid #eaeaea;
                            }
                        }
                    }
                    .inquiry_btn_items{
                        display: flex;
                        button{
                            margin-right: 10px;
                            margin-bottom: 0;
                            width: 70%;
                            &:first-child{
                                color: #666666;
                            }
                            &:last-child{
                                margin-right: 0;
                                color: #d1452e;
                            }
                        }
                    }
                }
            }
        }
        // right_card[e]
    }
    // teacher_right [e]
}
// #teacher [e]




























































































////////선생님 코스 title, list 공통 부분
.courses_title_size{
    margin-bottom: 35px;
    font-size: 24px;
    font-weight: 700;
}



.courses_list_top{
    font-size: 20px;
    font-weight: 700;
}
.courses_list_bottom{
    color: #777777;
    font-size: 15px;
}




.tutor_container{
    margin-bottom: 30px;
    background: #fff;
    box-shadow: 0px 4px 8px 2px #6f6f6f33;
    // &.teacher_description  {

    // }

    // teacher_courses
    &.teacher_courses{
        .courses_wrap{
            padding: 60px;
            // .courses_title{
                
            // }
            .courses_list{
                display: flex;
                justify-content: space-between;
                position: relative;
                border: 1px solid black;
                border-radius: 5px;
                .courses_list_left{
                    width: 65%;
                    padding: 20px;
                    background: #ccc;
                }
                .courses_list_right{
                    width: 35%;
                    padding: 20px;
                    .courses_list_top{
                        .span1{
                            position: absolute;
                            top: 23%;
                            right: 25%;
                        }
                        .span2{
                            position: absolute;
                            top: 23%;
                            right: 15%;
                        }
                    }
                    .courses_list_bottom{
                        p{
                            margin-top: 31px;
                            margin-right: 25px;
                            text-align: center;
                            font-size: 22px;
                            font-weight: 700;
                            color: #222222;
                        }
                    }
                }
            }
        }
    }
    // teacher_courses[e]

    // teacher_availability
    // &.teacher_availability{

    // }
    // teacher_availability[e]

    // tutor_resume
    &.tutor_resume{
        padding: 50px;

        .resume_name{
            width: 100%;
            background: #ccc;
            padding: 30px;
            text-align: center;
            font-size: 26px;
            font-weight: 500;
            box-sizing: border-box;
        }

        // resume_education
        .resume_education{
            display: flex;
            border-bottom: 1px solid black;
            padding: 25px 0;
            .resume_left{
                margin-right: 70px;
            }
            .resume_right{
                display: flex;
                .resume_description{
                    &:first-child{
                        margin-right: 60px;
                    }
                }
            }
        }
        // resume_education[e]

        // resume_workExperience
        .resume_workExperience{
            display: flex;
            border-bottom: 1px solid black;
            padding: 25px 0;
            margin-bottom: 40px;
            .resume_left{
                margin-right: 70px;
            }
            .resume_right{
                display: flex;
                .resume_description{
                    &:first-child{
                        margin-right: 60px;
                    }
                }
            }
        }
        // resume_workExperience[e]

        //resume_btn
        .resume_btn{
            text-align: center;
            button{
                padding: 10px 40px;
                border: 1px solid black;
            }
        }
        //resume_btn [e]
    }
    // tutor_resume[e]

    // tutor_interview
    &.tutor_interview{
        padding: 50px;
        .tutor_interview_notification{
            .inter_notification{
                margin-bottom: 10px;
                p{
                    display: inline-block;
                    vertical-align: top;
                    margin-right: 10px;
                    width: 35px;
                    height: 35px;
                    color: #fff;
                    background: blue;
                    border-radius: 50%;
                    text-align: center;
                    line-height: 29px;
                }
                span{
                    display: inline-block;
                    width: 94%;
                    padding: 20px;
                    background: #ccc;
                    box-sizing: border-box;
                }
            }
        }
    }
    // tutor_interview[e]


    //////////////////////////////////// FindTutor_list_all
    


}

// teacher_card_bottom
.teacher_card_bottom{
    margin: 0px 70px;
    .teacher_bottom_description{
        display: flex;
        position: relative;
        background: #efefef;
        padding: 15px 40px;
        .bottom_left{
            display: flex;
            .bottom_left{
                &:not(:last-child){
                    margin-right: 70px;
                }
            }
        }
        .bottom_right{
            position: absolute;
            right: 30px;
        }
    }
}
// teacher_card_bottom [e]


///////////////////////////////////////////////////////////////////////// 선생님
#teacher {
    display:flex;
    width:1280px;
    margin:0 auto;
    min-height:1000px;
    padding:50px 0;
    .teacher_left {
        min-width:920px;
    }
    .teacher_right {
        width:100%;
        margin-left:30px;
    }
}


