body{
    position: relative;
}


.teacher_card{
    .teacher_card_left{
        p{
            padding: 13px 0 0 37px;
            color:#2d69b3;
        }
        p:before{
            display: inline-block;
            margin-right: 7px;
            content: '';
            width: 10px;
            height: 10px;
            border: none;
            border-radius: 50%;
            background: #2d69b3;
        }
    }
}
.card_bottom{
    .skill{
        margin-right: 77px;
        &:nth-child(2){
            margin-right: 50px;
        }
        &:nth-child(3){
            margin: 0;
        }
        p{
            margin-bottom: 14px;
        }
        span{
            margin-right: 14px;
            font-weight: 700;
        }
        .skill_bar01,
        .skill_bar02,
        .skill_bar03,
        .skill_bar04,
        .skill_bar05 {
            display: inline-block;
        }
    }
}

// [s] like, book_btn common
.like_btn_form{
    padding: 9px 18px;
    color: #999999;
    border: 1px solid #bababa;
    em{
        color: #999999;
    }
}
.book_btn_form{
    padding: 10px 46px;
    margin-left: 12px;
    color: #fff;
    border: 1px solid none;
    background: #b94a38;
}
// [e] like, book_btn common
.teacher_card_bottom{
    .card_wrap{
        position: relative;
        .tutor_description{
            display: inline-block;
            div > span{
                font-size: 14px;
            }
            div > span:first-child{
                padding: 0 10px;
                color: #666666;
                border-right: thin solid #dbdbdb;
                box-sizing: border-box;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
            }
            div > span:last-child{
                margin-left: 10px;
                font-weight: 700;
            }
            
            div:nth-child(2),div:nth-child(3){margin-left: 50px;}

            .tutor_price{
                display: inline-block;
                em{
                    display: inline-block;
                    width: 20px;
                    height: 20px;
                    line-height: 20px;
                    margin-left: 6px;
                    margin-right: 10px;
                    background: #444444;
                    color: #fff;
                    border-radius: 50%;
                    font-size: 11px;
                    text-align: center;
                }
            }
            .lesson_time{
                display: inline-block;
            }
            .lesson_count{
                display: inline-block;
            }
        }
        .tutor_btn{
            position: absolute;
            top: 11px;
            right: 0;
            .lg_btn.bg_red{
                margin-left: 10px;
            }
        }
    }
}