// 부모 타지말고 내가 만든 클래스 부터 타고 내려가기.


// my_lesson_sub
.my_lesson_sub{
    &.profile {
        display: flex;
        .lesson_sub_img{
            position: relative;
            img{
                margin-right: 20px;
                width: 70px;
                height: 70px;
                border-radius: 50%;
                &:nth-child(2){
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    width: 30px;
                    height: 30px;
                }
            }
        }
        // lesson_sub_description
        .lesson_sub_description{
            display: flex;
            justify-content: space-between;
            width: 100%;
            .sub_des_left{
                p{
                    color: #222222;
                    font-size: 18px;
                    font-weight: 700;
                    margin: 5px 0;
                }
                span{
                    img{
                        width: 14px;
                        height: 14px;
                    }
                    em{
                        margin: 0 10px;
                        color: #666666;
                        font-size: 14px;
                    }
                    strong{
                        margin-left: 10px;
                        font-size: 14px;
                    }
                }
            }
            // sub_des_right
            .sub_des_right{
                display: flex;
                .des_right{
                    span{
                        display: inline-block;
                        margin-bottom: 10px;
                        color: #999999;
                        font-size: 13px;
                    }
                    p{
                        color: #333333;
                        font-size: 14px;
                        font-weight: 700;
                    }
                    &:nth-child(2){
                        margin: 0 20px;
                    }
                    &:nth-child(3){
                        a{
                            p{
                                color: #0d52a7;
                            }
                        }
                    }
                }
            }
            // sub_des_right[e]
        }
        // lesson_sub_description[e]
    }
}
// my_lesson_sub[e]


// lesson_box_02,03 btn style
.blue_btn{
    margin-left: -5px;
    color: #0d52a7;
    font-size: 14px;
    border: none;
    img{
        margin-left: 10px;
    }
}

// lesson_box_02
.usage_history_main{
    display: flex;
    justify-content: space-between;
    width: 100%;
    // history_main_left
    .history_main_left{
        h1{
            margin-bottom: 10px;
            color: #333333;
            font-size: 28px;
        }
        h4{
            margin-bottom: 30px;
            color: #999999;
            font-size: 14px;
            font-weight: 400;
        }
        
    }
    // history_main_left[e]

    .history_main_right{
        display: flex;
        justify-content: space-around;
        text-align: center;
        width: 50%;
        .main_right_btn{
            button{
                border: none;
                img{
                    margin-bottom: 10px;
                }
            }
            p{
                color: #666666;
                font-size: 14px;
                strong{
                    color: #333333;
                    font-size: 20px;
                }
            }
        }
    }
}
// lesson_box_02[e]

// lesson_box_03
.lesson_curriculum_main{
    width: 100%;
    .curriculum_line{
        display: inline-block;
        padding: 20px 5px;
        width: 100%;
        &:not(:last-child){
            margin-bottom: 10px;
        }
        &:nth-child(2){
            background: #fafafa;
        }
        span{
            margin-right: 10px;
            color: #bbbbbb;
            font-size: 14px;
        }
        p{
            display: inline-block;
            color: #333333;
            font-size: 18px;
        }
        button{
            padding: 5px 10px;
            border: none;
            background: #ccc;
            border-radius: 14px;
            float: right;
            
            img{
                margin-bottom: 5px;
                margin-right: 5px
            }
        }
    }
}
// lesson_box_03[e]